@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-(--body-bg)
    text-(--body-color)
    text-(length:--body-font-size)
    font-(--body-font-weight)
    leading-(--body-line-height);
  }

  hr {
    @apply my-(--hr-margin-y) mx-(--hr-margin-x) border-t border-(--hr-border-color);
  }

  h1 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h1-font-size)
    leading-(--h1-line-height);
  }

  h2 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h2-font-size)
    leading-(--h2-line-height);
  }

  h3 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h3-font-size)
    leading-(--h3-line-height);
  }

  h4 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h4-font-size)
    leading-(--h4-line-height);
  }

  h5 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h5-font-size)
    leading-(--h5-line-height);
  }

  h6 {
    @apply mb-(--headings-margin-bottom)
    font-(--headings-font-weight)
    text-(length:--h6-font-size)
    leading-(--h6-line-height);
  }

  p {
    @apply mb-(--paragraph-margin-bottom) mt-0;
  }

  address {
    @apply mb-4;
  }

  /* list */
  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ol,
  ul {
    @apply ps-8;
  }

  ol,
  ul,
  dl {
    @apply mt-0 mb-4;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    @apply mb-0;
  }

  dt {
    @apply font-(--dt-font-weight);
  }

  blockquote {
    @apply mb-4;
  }

  a {
    @apply underline text-(--anchor-color) hover:text-(--anchor-hover-color);
  }

  a:not([href]):not([class]) {
    &,
    &:hover {
      @apply no-underline text-inherit;
    }
  }

  code {
    @apply text-(--code-color) text-(length:--code-font-size);
    a > & {
      @apply text-inherit;
    }
  }

  figure {
    @apply mb-4;
  }

  caption {
    @apply text-left caption-bottom
    font-(--caption-font-weight)
    px-(--caption-padding-x)
    py-(--caption-padding-y);
  }

  label {
    @apply inline-block;
  }

  button {
    @apply cursor-pointer;
    &:disabled {
      @apply cursor-default;
    }
  }

  legend {
    @apply float-left w-full p-0
    mb-(--legend-margin-bottom)
    font-(--legend-font-weight)
    leading-normal
    text-(--legend-font-size);
  }

  output {
    @apply inline-block;
  }

  :root,
  :host {
    @variant dark {
      color-scheme: dark;
      color: var(--body-color);
    }
  }
}
