<section class="min-h-screen flex items-center justify-center px-4 py-16">
  <div class="card w-full max-w-xl bg-transparent border-0">
    <div class="mb-8 flex items-baseline justify-between text-default">
      <h2 class="text-3xl mb-3">Login</h2>
      <p class="m-0 text-center text-sm text-muted/70 font-medium">
        Don't have an account?
        <a href="#" class="no-underline">Signup</a>
      </p>
    </div>

    <div class="flex flex-col sm:flex-row sm:items-center gap-3">
      <button class="btn btn-lg btn-subtle-neutral gap-3 flex-1 border-light">
        <img src="https://www.svgrepo.com/show/355037/google.svg" class="size-5" alt="Google">
        Signin with Google
      </button>
      <button class="btn btn-lg btn-subtle-neutral gap-3 flex-1 border-light">
        <img src="https://www.svgrepo.com/show/448239/microsoft.svg" class="size-5" alt="Google">
        Signin with Microsoft
      </button>
    </div>

    <div class="hr-label my-6 text-[10px] text-subtle font-bold uppercase tracking-[0.2em]">or use email</div>

    <form class="space-y-5 mb-16">
      <div class="form-floating form-field">
        <input type="email" id="floatingInput" class="form-control-fill" placeholder=" " />
        <label class="form-label" for="floatingInput">Email</label>
      </div>

      <div class="form-floating form-field">
        <input type="email" id="floatingInput" class="form-control-fill" placeholder=" " />
        <label class="form-label" for="floatingInput">Password</label>
      </div>

      <div class="flex items-center justify-between -mt-4 -ms-1.5">
        <div class="form-check">
          <label for="checkboxDefaultLabel" class="form-check-input-wrapper">
            <input class="form-check-input" type="checkbox" value="" id="checkboxDefaultLabel" />
          </label>
          <label for="checkboxDefaultLabel" class="form-check-label text-xs">Remember this device</label>
        </div>
        <a href="#" class="text-xs font-semibold no-underline">Forgot password?</a>
      </div>

      <button type="submit" class="btn btn-lg btn-primary w-full">
        Log In
      </button>
    </form>

    <p class="text-center text-sm font-medium m-0">
      <a href="#" class="no-underline">Trouble signing in?</a>
    </p>
  </div>
</section>