---
import StyleCard from './StyleCard.astro';
import ChevronIcon from '@components/icons/ChevronIcon.astro';
import { styleSystems } from '../../../../data/landing/style-systems.ts';
import GradientBorderBox from '../common/GradientBorderBox.astro';
---

<section class="mx-auto max-w-[954px] py-20">
  <div class="grid grid-cols-4 gap-x-4 gap-y-10">
    <StyleCard data={styleSystems[0]} class="col-span-2" />

    <div class="col-span-2 pl-18 py-[86px]">
      <h1 class="mb-4 text-[42px] font-medium tracking-tighter">Global Styles, <br />Granular Control</h1>
      <p class="mb-6 text-highlight max-w-[420px]">
        Hummingbird employs a two-tier CSS framework that offers both global oversight and localized adaptability.
      </p>
      <a href="/docs/components/buttons" type="button" class="-ml-4 btn btn-text-primary hover:bg-transparent"
        >Learn more about CSS variables <ChevronIcon />
      </a>
    </div>

    {
      styleSystems.slice(1).map((item, i) => (
        <GradientBorderBox color={i === 0 ? 'primary' : 'info'} class="flex flex-col col-span-2 border-[2px]">
          <StyleCard data={item} class="border-0" />
        </GradientBorderBox>
      ))
    }
  </div>
</section>
