<section class="p-3">
  <div class="px-6 py-12 flex flex-col lg:flex-row items-center justify-between gap-8 bg-linear-to-b from-subtle via-primary-lighter to-primary-light/40 max-w-7xl mx-auto rounded-xl">
    <div class="flex flex-col items-center lg:items-start text-center lg:text-left space-y-2">
      <span class="badge badge-subtle-primary badge-md mb-6">Limited Protocol</span>
      
      <h2 class="text-4xl md:text-5xl font-black tracking-tighter mb-3">
        Don’t miss <span class="text-primary italic">the surge.</span>
      </h2>
      
      <p class="text-base max-w-md leading-tight font-medium">
        Upgrade within the next 24 hours to secure 40% off all infrastructure plans.
      </p>
    </div>

    <div class="flex items-center gap-4">
      <a href="#" class="btn btn-primary sm:btn-lg sm:w-50 shrink-0">Upgrade now</a>
      <a href="#" class="btn btn-outline-primary sm:btn-lg sm:w-50 shrink-0">See pricing</a>
    </div>
  </div>
</section>