<section class="pt-18 pb-28 relative">
  <div class="mx-auto px-6 text-center">
    <h1 class="mb-4 text-5xl font-medium -tracking-[3.5px]">
      Beautiful UI or Cleaner Code?
      <span
        class="pr-2 font-semibold italic bg-gradient-to-r from-purple-500 to-blue-500 bg-clip-text text-transparent"
      >
        Both!
      </span>
    </h1>

    <p class="mb-8 mx-auto text-base text-highlight max-w-[550px]">
      Spend less time on boilerplate and more time on the features that matter. Start your next project with Hummingbird
      to finally have it all.
    </p>

    <a href="/docs/components/buttons" type="button" class="btn btn-primary">Explore Hummingbird</a>
  </div>
</section>
