---
import ComparisonTable from './comparison-table/ComparisonTable.astro';
import Components from './components/Components.astro';
import CTA from './CTA.astro';
import Footer from './Footer.astro';
import Hero from './hero/Hero.astro';
import bgImage from '@assets/images/landing/default-bg.png';
import JsShowcase from './js-showcase/JsShowcase.astro';
import StyleSystems from './style-system/StyleSystems.astro';
import EditorPreview from './editor-preview/EditorPreview.astro';
import Features from './features/Features.astro';
---

<main class="bg-cover bg-center bg-no-repeat" style={{ backgroundImage: `url(${bgImage.src})` }}>
  <!-- <Hero /> -->
  <Features />
  <!-- <ComparisonTable /> -->
  <EditorPreview />
  <!-- <Components /> -->
  <!-- <StyleSystems /> -->
  <!-- <JsShowcase /> -->
  <!-- <CTA /> -->
  <!-- <Footer /> -->
</main>
