{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.mdx", "*.md"],
      "options": {
        "singleQuote": false,
        "parser": "mdx",
        "proseWrap": "never",
        "printWidth": 10000
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "plugins": []
      }
    }
  ]
}
