---
import Image from 'astro/components/Image.astro';
import SectionHeader from '../common/SectionHeader.astro';
import SectionWrapper from '../common/SectionWrapper.astro';
import cardImage from '@assets/images/hamster.webp';
import CartIcon from '@components/icons/CartIcon.astro';
import AddIcon from '@components/icons/AddIcon.astro';
import RemoveIcon from '@components/icons/RemoveIcon.astro';
import CopyIcon from '@components/icons/CopyIcon.astro';
import CheckIcon from '@components/icons/CheckIcon.astro';
import Code from 'astro/components/Code.astro';
---

<SectionWrapper id="clean-markup" class="max-w-[1280px]">
  <SectionHeader
    title="Clean markup, full control."
    subtitle="Ditch long utility class strings. Hummingbird gives you complete freedom of pixel-perfect tweaks - plus full Tailwind flexibility."
  />

  <div class="flex gap-6 bg-red-300 h-[450px]">
    <div class="relative overflow-x-auto flex-3 h-full">
      <div class="copy-btn p-0.5 absolute top-2 right-2 md:top-4 md:right-4">
        <CopyIcon class="copy-icon_" />
        <CheckIcon class="check-icon hidden text-success" />
      </div>
      <Code
        class="!text-sm h-full w-full !bg-muted !rounded-lg"
        data-astro-code
        code={`<div class="card rounded-2xl max-w-75">
        <img src={cardImage.src} class="card-img-top" alt="Headset" />
        <div class="card-body pb-1.5">
          <h4 class="card-title text-base">Wireless Headphone</h4>
          <p class="text-sm">Premium audio with noise cancellation.</p>

          <div class="mb-6 flex items-center space-x-2">
            <span class="text-2xl text-subtle font-bold tracking-tight">$400</span>
            <span class="text-emphasis line-through">$800</span>
            <span class="h-5 bg-green-100 text-success-dark text-sm font-semibold px-2 py-0.5 rounded-md">50% Off</span>
          </div>

          <div class="flex items-center gap-1">
            <button class="btn btn-square h-7.5 w-7.5 rounded-sm bg-muted"><RemoveIcon /></button>
            <span class="px-5 py-1.25 text-subtle text-sm rounded-sm bg-muted">2</span>
            <button class="btn btn-square h-7.5 w-7.5 rounded-sm bg-muted"><AddIcon /></button>
          </div>
        </div>
        <div class="card-footer p-4">
          <button class="btn btn-neutral w-full">
            <CartIcon /> Add to Cart
          </button>
        </div>
      </div>`}
        themes={{ light: 'github-light', dark: 'github-dark' }}
        lang="html"
      />
    </div>
    <div class="h-full flex-1">
      <div class="card rounded-2xl max-w-75 h-full">
        <img src={cardImage.src} class="card-img-top" alt="Headset" />
        <div class="card-body pb-1.5">
          <h4 class="card-title text-base">Wireless Headphone</h4>
          <p class="text-sm">Premium audio with noise cancellation.</p>

          <div class="mb-6 flex items-center space-x-2">
            <span class="text-2xl text-subtle font-bold tracking-tight">$400</span>
            <span class="text-emphasis line-through">$800</span>
            <span class="h-5 bg-green-100 text-success-dark text-sm font-semibold px-2 py-0.5 rounded-md">50% Off</span>
          </div>

          <div class="flex items-center gap-1">
            <button class="btn btn-square h-7.5 w-7.5 rounded-sm bg-muted"><RemoveIcon /></button>
            <span class="px-5 py-1.25 text-subtle text-sm rounded-sm bg-muted">2</span>
            <button class="btn btn-square h-7.5 w-7.5 rounded-sm bg-muted"><AddIcon /></button>
          </div>
        </div>
        <div class="card-footer p-4">
          <button class="btn btn-neutral w-full">
            <CartIcon /> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</SectionWrapper>
