---
import Layout from '@layouts/Layout.astro';
import Features from '@components/sections/landing/features/Features.astro';
import EditorPreview from '@components/sections/landing/EditorPreview.astro';
import FeaturedComponents from '@components/sections/landing/featured-components/FeaturedComponents.astro';
import bgImage from '@assets/images/landing/default-bg.png';
---

<Layout>
  <main class="bg-cover bg-center bg-no-repeat" style={{ backgroundImage: `url(${bgImage.src})` }}>
    <!-- <Hero /> -->
    <Features />
    <!-- <ComparisonTable /> -->
    <EditorPreview />
    <FeaturedComponents />
    <!-- <Components /> -->
    <!-- <StyleSystems /> -->
    <!-- <JsShowcase /> -->
    <!-- <CTA /> -->
    <!-- <Footer /> -->
  </main>
</Layout>
