---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/landing/hero/Hero.astro';
import Overlay from '@components/sections/landing/Overlay.astro';
import Features from '@components/sections/landing/features/Features.astro';
import Comparison from '@components/sections/landing/comparison/Comparison.astro';
import EditorPreview from '@components/sections/landing/EditorPreview.astro';
import CleanMarkup from '@components/sections/landing/CleanMarkup.astro';
import Frameworks from '@components/sections/landing/Frameworks.astro';
import ModeComparison from '@components/sections/landing/ModeComparison.astro';
import Components from '@components/sections/landing/components/Components.astro';
import JSComponents from '@components/sections/landing/js-components/JSComponents.astro';
import GlobalStyles from '@components/sections/landing/global-styles/GlobalStyles.astro';
import Footer from '@components/sections/landing/Footer.astro';
import CTA from '@components/sections/landing/CTA.astro';
---

<Layout>
  <div class="relative">
    <Hero />
    <Features />
    <Comparison />
    <EditorPreview />
    <CleanMarkup />
    <ModeComparison />
    <Frameworks />
    <Components />
    <GlobalStyles />
    <JSComponents />
    <CTA />
    <Footer />
    <Overlay />
  </div>
</Layout>
