---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/landing/hero/Hero.astro';
import Features from '@components/sections/landing/features/Features.astro';
import Comparison from '@components/sections/landing/comparison/Comparison.astro';
import CleanMarkup from '@components/sections/landing/CleanMarkup.astro';
import Frameworks from '@components/sections/landing/Frameworks.astro';
import ModeComparison from '@components/sections/landing/ModeComparison.astro';
import Components from '@components/sections/landing/components/Components.astro';
import JSComponents from '@components/sections/landing/js-components/JSComponents.astro';
import GlobalStyles from '@components/sections/landing/global-styles/GlobalStyles.astro';
import CTA from '@components/sections/landing/CTA.astro';
import Footer from '@components/common/Footer.astro';
---

<Layout>
  <div class="overflow-hidden">
    <Hero />
    <Features />
    <Comparison />
    <CleanMarkup />
    <ModeComparison />
    <Frameworks />
    <Components />
    <GlobalStyles />
    <JSComponents />
    <div
      class="pt-40 -mt-40 bg-cover bg-center bg-no-repeat bg-[url('/images/backgrounds/footer-bg-l.png')] dark:bg-[url('/images/backgrounds/footer-bg-d.png')]"
    >
      <CTA />
      <Footer />
    </div>
  </div>
</Layout>
