---
import Layout from '@layouts/Layout.astro';
import Features from '@components/sections/landing/features/Features.astro';
import EditorPreview from '@components/sections/landing/EditorPreview.astro';
import InteractiveComponents from '@components/sections/landing/interactive-components/InteractiveComponents.astro';
import FeaturedComponents from '@components/sections/landing/featured-components/FeaturedComponents.astro';
import GlobalStyles from '@components/sections/landing/global-styles/GlobalStyles.astro';
import Footer from '@components/sections/landing/Footer.astro';
import CTA from '@components/sections/landing/CTA.astro';
import bgImage from '@assets/images/landing/default-bg.png';
import ModeComparison from '@components/sections/landing/ModeComparison.astro';
import CleanMarkup from '@components/sections/landing/CleanMarkup.astro';
import Comparison from '@components/sections/landing/comparison/Comparison.astro';
import Hero from '@components/sections/landing/hero/Hero.astro';
import Frameworks from '@components/sections/landing/frameworks/Frameworks.astro';
import ActivityChart from '@components/sections/landing/hero/cards/ActivityChart.astro';
---

<Layout>
  <div class="bg-default">
    <Hero />
     <GlobalStyles />
    <!-- <Test /> -->
    <!-- <Features />
    <Comparison />
    <EditorPreview />
    <CleanMarkup />
    <ModeComparison />
    <Frameworks />
    <FeaturedComponents />
    <GlobalStyles />
    <InteractiveComponents />
    <CTA />
    <Footer /> -->
  </div>
</Layout>
