---
import ContentLayout from '@layouts/ContentLayout.astro';
import { termsData } from 'apps/data/company';
---

<ContentLayout heading="Terms and Conditions" subHeading="Last updated: 2025">
  {
    termsData.map((item) => (
      <div class="mb-12">
        <h2 class="text-2xl font-semibold mb-3">{item.title}</h2>
        <p class="text-muted tracking-tight">{item.content}</p>

        {item.subSections && (
          <div>
            {item.subSections.map((sub) => (
              <div>
                <h3 class="text-xl font-medium mb-2">{sub.subTitle}</h3>
                <p class="text-muted tracking-tight">{sub.subContent}</p>
              </div>
            ))}
          </div>
        )}
      </div>
    ))
  }
</ContentLayout>
