<div class="h-full gap-6 flex relative">
  <div class="max-w-4xl py-20 px-6 flex flex-col items-center lg:items-start justify-center text-center lg:text-start">
    <img
      src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
      alt="Logo"
      class="w-8 h-8 mb-12"
    />
    <span class="badge badge-outline-primary px-2 py-1.5 mb-10">Launch better products, faster</span>
    <h1 class="text-5xl md:text-7xl font-semibold leading-none mb-6">Future of your digital business</h1>
    <p class="md:text-lg text-muted">
      Accelerate development with tools that eliminate repetitive tasks, reduce complexity, and provide the flexibility
      needed to grow your product as your business evolves.
    </p>
    <div class="avatar-group mb-12 ms-2">
      <div class="avatar avatar-sm">
        <img src="/images/avatar/avatar_1.webp" alt="Avatar" />
      </div>
      <div class="avatar avatar-sm">
        <img src="/images/avatar/avatar_2.webp" alt="Avatar" />
      </div>
      <div class="avatar avatar-sm">
        <img src="/images/avatar/avatar_3.webp" alt="Avatar" />
      </div>
      <div class="avatar avatar-sm">
        <img src="/images/avatar/avatar_4.webp" alt="Avatar" />
      </div>
      <div class="avatar avatar-sm">
        <div class="avatar-name bg-primary text-base">
          <span>+99</span>
        </div>
      </div>
    </div>
    <div class="flex gap-3">
      <button class="btn btn-primary btn-lg">Get started</button>
      <button class="btn btn-outline btn-lg">View docs</button>
    </div>
  </div>
  <img
    class="hidden lg:block w-[47vw] object-cover"
    src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?q=80&w=1055&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
</div>
