<nav class="navbar navbar-expand-lg max-w-7xl mx-auto ps-6 pe-3">
  <a class="navbar-brand flex items-center gap-2" href="#">
    <button
      class="btn btn-icon navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarHero5"
      aria-controls="navbarHero5"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
    <img
      src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
      alt="Logo"
      class="w-8 h-8"
    />
    <h5 class="mb-0 font-semibold hidden sm:block">hummingbird</h5>
  </a>
  <div class="flex lg:order-1">
    <button class="btn btn-icon btn-icon-neutral">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M13 21q-.425 0-.712-.288T12 20t.288-.712T13 19h6V5h-6q-.425 0-.712-.288T12 4t.288-.712T13 3h6q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-1.825-8H4q-.425 0-.712-.288T3 12t.288-.712T4 11h7.175L9.3 9.125q-.275-.275-.275-.675t.275-.7t.7-.313t.725.288L14.3 11.3q.3.3.3.7t-.3.7l-3.575 3.575q-.3.3-.712.288T9.3 16.25q-.275-.3-.262-.712t.287-.688z"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
    <button class="btn btn-icon btn-icon-neutral">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M10 21h4c0 1.1-.9 2-2 2s-2-.9-2-2m11-2v1H3v-1l2-2v-6c0-3.1 2-5.8 5-6.7V4c0-1.1.9-2 2-2s2 .9 2 2v.3c3 .9 5 3.6 5 6.7v6zm-4-8c0-2.8-2.2-5-5-5s-5 2.2-5 5v7h10z"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
    <button class="btn btn-icon btn-icon-neutral">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarHero5">
    <ul class="navbar-nav mx-auto lg:gap-4 mb-2 lg:mb-0">
      <li class="nav-item">
        <a class="nav-link text-sm active:font-bold active" aria-current="page" href="#">Hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-sm active:font-bold">Flight</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-sm active:font-bold">Trip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-sm active:font-bold">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-sm active:font-bold">Package</a>
      </li>
    </ul>
  </div>
</nav>
<div class="relative h-150 w-full overflow-hidden">
  <video autoplay loop muted playsinline class="absolute inset-0 w-full h-full object-cover">
    <source src="https://www.pexels.com/download/video/8968044/" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
    <div class="text-white text-center px-6">
      <h1 class="max-md:text-5xl font-normal">Discover Your <br />Next <span class="text-warning">Adventure</span></h1>
      <p class="mb-6 md:text-lg">Explore the world with our exclusive travel deals and packages.</p>
      <button class="btn btn-primary btn-lg rounded-full text-nowrap"> Book Now </button>
    </div>
  </div>
</div>
