<div
  class="bg-[url(https://images.unsplash.com/photo-1559163499-413811fb2344?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-no-repeat bg-cover bg-center h-full flex items-center justify-center"
>
  <div class="absolute inset-0 bg-black/70"></div>
  <div class="max-w-7xl mx-auto px-6 py-20 text-center">
    <div class="navbar navbar-expand-lg mx-auto py-5 fixed top-0 left-0 right-0 z-20">
      <a class="navbar-brand flex items-center gap-2" href="#">
        <button
          class="btn btn-icon navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"
              stroke-width="0.5"
              stroke="currentColor"></path></svg
          >
        </button>
        <img
          src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
          alt="Logo"
          class="w-8 h-8"
        />
        <h5 class="mb-0 text-white/80 font-semibold flex">hummingbird</h5>
      </a>
      <a href="#" class="btn btn-primary px-6 rounded-full lg:order-1">Login</a>
      <div
        class="collapse navbar-collapse py-6 lg:py-0 grow-0 bg-black lg:bg-transparent rounded-lg"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav lg:gap-8">
          <a class="nav-link text-white/70 active:text-white active" aria-current="page" href="#">Home</a>
          <a class="nav-link text-white/70" href="#">Features</a>
          <a class="nav-link text-white/70" href="#">Pricing</a>
        </div>
      </div>
    </div>
    <div class="relative z-1 max-w-4xl">
      <span class="badge badge-outline-primary px-2 py-1.5 mb-10">Launch better products, faster</span>
      <h1 class="text-5xl md:text-7xl font-semibold text-white leading-none mb-6">Future of digital business</h1>
      <p class="md:text-lg text-white/70">
        Accelerate development with tools that eliminate repetitive tasks, reduce complexity, and provide the
        flexibility needed to grow your product as your business evolves.
      </p>
      <div class="flex items-center justify-center gap-4 mb-14">
        <div class="avatar-group justify-center">
          <div class="avatar avatar-sm">
            <img src="/images/avatar/avatar_1.webp" alt="Avatar" />
          </div>
          <div class="avatar avatar-sm">
            <img src="/images/avatar/avatar_2.webp" alt="Avatar" />
          </div>
          <div class="avatar avatar-sm">
            <img src="/images/avatar/avatar_3.webp" alt="Avatar" />
          </div>
          <div class="avatar avatar-sm">
            <img src="/images/avatar/avatar_4.webp" alt="Avatar" />
          </div>
          <div class="avatar avatar-sm">
            <div class="avatar-name bg-primary text-base">
              <span>+99</span>
            </div>
          </div>
        </div>
        <div class="border-l border-white ps-4">
          <p class="text-xs text-white mb-0">trusted by clients</p>
          <div class="flex">
            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12 16.3l-3.7 2.825q-.275.225-.6.213t-.575-.188t-.387-.475t-.013-.65L8.15 13.4l-3.625-2.575q-.3-.2-.375-.525t.025-.6t.35-.488t.6-.212H9.6l1.45-4.8q.125-.35.388-.538T12 3.475t.563.188t.387.537L14.4 9h4.475q.35 0 .6.213t.35.487t.025.6t-.375.525L15.85 13.4l1.425 4.625q.125.35-.012.65t-.388.475t-.575.188t-.6-.213z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            >
            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12 16.3l-3.7 2.825q-.275.225-.6.213t-.575-.188t-.387-.475t-.013-.65L8.15 13.4l-3.625-2.575q-.3-.2-.375-.525t.025-.6t.35-.488t.6-.212H9.6l1.45-4.8q.125-.35.388-.538T12 3.475t.563.188t.387.537L14.4 9h4.475q.35 0 .6.213t.35.487t.025.6t-.375.525L15.85 13.4l1.425 4.625q.125.35-.012.65t-.388.475t-.575.188t-.6-.213z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            >
            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12 16.3l-3.7 2.825q-.275.225-.6.213t-.575-.188t-.387-.475t-.013-.65L8.15 13.4l-3.625-2.575q-.3-.2-.375-.525t.025-.6t.35-.488t.6-.212H9.6l1.45-4.8q.125-.35.388-.538T12 3.475t.563.188t.387.537L14.4 9h4.475q.35 0 .6.213t.35.487t.025.6t-.375.525L15.85 13.4l1.425 4.625q.125.35-.012.65t-.388.475t-.575.188t-.6-.213z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            >
            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12 16.3l-3.7 2.825q-.275.225-.6.213t-.575-.188t-.387-.475t-.013-.65L8.15 13.4l-3.625-2.575q-.3-.2-.375-.525t.025-.6t.35-.488t.6-.212H9.6l1.45-4.8q.125-.35.388-.538T12 3.475t.563.188t.387.537L14.4 9h4.475q.35 0 .6.213t.35.487t.025.6t-.375.525L15.85 13.4l1.425 4.625q.125.35-.012.65t-.388.475t-.575.188t-.6-.213z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            >
            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12 16.3l-3.7 2.825q-.275.225-.6.213t-.575-.188t-.387-.475t-.013-.65L8.15 13.4l-3.625-2.575q-.3-.2-.375-.525t.025-.6t.35-.488t.6-.212H9.6l1.45-4.8q.125-.35.388-.538T12 3.475t.563.188t.387.537L14.4 9h4.475q.35 0 .6.213t.35.487t.025.6t-.375.525L15.85 13.4l1.425 4.625q.125.35-.012.65t-.388.475t-.575.188t-.6-.213z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            >
          </div>
        </div>
      </div>
      <div class="flex gap-3 flex-wrap justify-center">
        <button class="btn btn-primary btn-lg">Get started</button>
        <button class="btn btn-outline btn-lg">View docs</button>
      </div>
    </div>
  </div>
</div>
