<div class="max-w-7xl mx-auto">
  <nav class="navbar navbar-expand-lg border-b border-light px-6 py-4">
    <a class="navbar-brand flex items-center gap-2 me-8" href="#">
      <button
        class="btn btn-icon navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHero4"
        aria-controls="navbarHero4"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"
            stroke-width="0.5"
            stroke="currentColor"></path></svg
        >
      </button>
      <img
        src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
        alt="Logo"
        class="w-8 h-8"
      />
      <h5 class="mb-0 font-semibold hidden sm:block">hummingbird</h5>
    </a>
    <div class="flex gap-2 lg:order-1">
      <button class="btn btn-subtle-primary btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
            stroke-width="0.5"
            stroke="currentColor"></path></svg
        >
      </button>
      <button class="btn btn-subtle-primary btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z"
            stroke-width="0.5"
            stroke="currentColor"></path></svg
        >
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarHero4">
      <ul class="navbar-nav me-auto mb-2 lg:mb-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Company</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="px-6 pt-10 pb-6">
    <div class="md:flex items-center justify-between gap-4 mb-10">
      <h2 class="font-normal mb-6 md:mb-0">Refined Design for a Modern Lifestyle.</h2>
      <a href="#" class="btn btn-primary btn-lg rounded-full text-nowrap">
        Shop now
        <svg class="flex-1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"
            stroke-width="0.5"
            stroke="currentColor"></path></svg
        >
      </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="h-100 rounded-2xl overflow-hidden relative lg:col-span-2">
        <img
          src="https://images.unsplash.com/photo-1772182104431-5a00158fd8e2?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="h-full w-full object-cover"
        />
        <div
          class="absolute inset-0 bg-linear-to-t from-black to-transparent p-8 flex justify-end items-start flex-col"
        >
          <h3 class="max-md:text-2xl text-warning font-medium mb-0">Whooping 60% Off</h3>
          <span class="text-lg text-white">on everyday items</span>
          <a href="#" class="btn btn-warning btn-lg px-8 mt-6 rounded-full">Shop</a>
        </div>
      </div>
      <div class="h-100 rounded-2xl overflow-hidden relative">
        <img
          src="https://images.unsplash.com/photo-1758186334264-d1ab8a079aa2?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="h-full w-full object-cover"
        />
        <div
          class="absolute inset-0 bg-linear-to-t from-black to-transparent p-8 flex justify-end items-start flex-col"
        >
          <h3 class="max-md:text-2xl text-primary font-medium mb-0">Get 20% Off</h3>
          <span class="text-lg text-white">on iPhone 17</span>
          <a href="#" class="btn btn-primary btn-lg px-8 mt-6 rounded-full">Buy</a>
        </div>
      </div>
      <div class="h-100 rounded-2xl overflow-hidden relative">
        <img
          src="https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="h-full w-full object-cover"
        />
        <div
          class="absolute inset-0 bg-linear-to-t from-black to-transparent p-8 flex justify-end items-start flex-col"
        >
          <h3 class="max-md:text-2xl text-info font-medium mb-0">Smart watch 15% Off</h3>
          <span class="text-lg text-white">for today</span>
          <a href="#" class="btn btn-info btn-lg px-8 mt-6 rounded-full">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
