---
import sitemap from '../../sitemap';
const pathName = Astro.originPathname;
---

<div
  class="docs-sidebar offcanvas-lg offcanvas-start lg:sticky top-[calc(var(--navbar-height)+54px)] lg:top-[var(--navbar-height)] w-60 lg:max-h-[calc(100dvh-var(--navbar-height))] overflow-y-auto"
  tabindex="-1"
  id="sidebarOffcanvas"
  aria-labelledby="sidebarOffcanvasLabel"
>
  <button
    type="button"
    class="btn btn-icon ms-auto absolute top-3 right-4 lg:hidden z-10"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
    data-bs-target="#sidebarOffcanvas"
  >
    <span class="icon-[material-symbols--close-rounded] text-base"></span>
  </button>
  <div class="offcanvas-body p-6 lg:ps-0 lg:pe-10 lg:py-10">
    <div class="w-full">
      {
        sitemap.map((category, index) => (
          <div>
            <h2 class={`text-xs mb-2 text-emphasis uppercase ${index !== 0 ? 'mt-6' : ''}`}>{category.subHeader}</h2>
            <div class="list-group w-full bg-transparent">
              {category.items.map((item) => (
                <a
                  href={item.path}
                  class={`list-group-item list-group-item-action rounded-lg text-sm py-2 
                          ${pathName === item.path ? 'text-primary-dark bg-primary-lighter' : 'text-default'}`}
                >
                  <span>{item.name}</span>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
