---
import sitemap from '../../sitemap';
const segments = Astro.originPathname.split('/').filter(Boolean);
const path = '/' + (segments.length > 3 ? segments.slice(0, 3) : segments).join('/') + '/';
---

<div
  class="docs-sidebar offcanvas-lg offcanvas-start lg:sticky top-[calc(var(--navbar-height)+53px)] lg:top-[var(--navbar-height)] w-60 lg:max-h-[calc(100dvh-var(--navbar-height))] overflow-y-auto"
  tabindex="-1"
  id="sidebarOffcanvas"
  aria-labelledby="sidebarOffcanvasLabel"
>
  <button
    type="button"
    class="btn btn-icon ms-auto absolute top-3 right-4 lg:hidden z-10"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
    data-bs-target="#sidebarOffcanvas"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z"
        stroke-width="0.5"
        stroke="currentColor"></path></svg
    >
  </button>
  <div class="offcanvas-body p-6 lg:ps-0 lg:pe-10 lg:py-10">
    <div class="w-full">
      {
        sitemap.map((category, index) => (
          <div>
            <h2 class={`text-xs mb-2 text-subtle uppercase ${index !== 0 ? 'mt-6' : ''}`}>{category.subHeader}</h2>
            <div class="list-group w-full bg-transparent gap-0.5">
              {category.items.map((item) => (
                <a
                  href={item.path}
                  class={`list-group-item list-group-item-action rounded-lg text-sm py-2 
                          ${path === item.path + '/' ? 'text-primary-dark bg-primary-lighter' : 'text-default'}`}
                >
                  <span>{item.name}</span>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
