---
import { fetchTwRows } from '@libs/fetch-tw-rows';
import HbTable from './HbTable.astro';
import Highlight from './Highlight.astro';

const { property } = Astro.props;

const rows = await fetchTwRows(
  `https://raw.githubusercontent.com/tailwindlabs/tailwindcss.com/main/src/docs/${property}.mdx`,
);
---

<HbTable>
  <thead>
    <tr>
      <th scope="col">Class</th>
      <th scope="col">Styles</th>
    </tr>
  </thead>
  <tbody>
    {
      rows.map((item) => (
        <tr>
          <th scope="row">
            <Highlight input={item[0]} />
          </th>
          <td class="*:whitespace-pre!">
            <Highlight input={item[1]} />
          </td>
        </tr>
      ))
    }
  </tbody>
</HbTable>
