<section class="px-6 py-20">
  <div class="card p-6 sm:p-14 border-light rounded-3xl max-w-2xl mx-auto grayscale hover:grayscale-0 overflow-hidden transition duration-500 group">
    <div class="flex items-center justify-between mb-12">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Microsoft_logo_%282012%29.svg" alt="Microsoft Logo" class="h-6" />
      <div class="flex items-center gap-1">
        <svg class="size-5 text-warning fill-current" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/></svg>
        <span class="text-sm text-subtle font-black italic tracking-tighter uppercase">
          Review 03/26
        </span>
      </div>
    </div>

    <blockquote class="relative text-2xl md:text-3xl font-medium text-default leading-[1.3] tracking-tight mb-10">
      <span class="absolute -top-6 -left-12 text-8xl font-serif text-primary-light/25 select-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-20" viewBox="0 0 24 24"><path fill="currentColor" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179m10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179"/></svg>
      </span>
      The attention to detail is <span class="underline decoration-primary-light/25 decoration-4 underline-offset-4">staggering</span>. It's rare to find a tool that balances power with such a clean, effortless user experience.
    </blockquote>

    <div class="flex items-center gap-4">
      <img class="size-16 border-3 border-white dark:border-light rounded-xl shadow-sm" src="https://i.pravatar.cc/150?u=5" alt="Author">
      <div>
        <h5 class="text-lg font-medium text-default">Julianne Sterling</h5>
        <span class="text-sm text-muted/80">
          Design Director @Microsoft
        </span>
      </div>
    </div>
  </div>
</section>
