---
import CopyIcon from '@components/icons/CopyIcon.astro';
import type { StyleSystem } from '../data/style-systems';
import Code from 'astro/components/Code.astro';

interface Props {
  data: StyleSystem;
  class?: string;
}

const { data, class: className = '' } = Astro.props;
---

<div class={`p-6 flex flex-col min-h-[370px] border border-base bg-subtle rounded-2xl ${className}`}>
  <h3 class="mb-2 text-[21px] font-semibold">{data.title}</h3>
  <p class="mb-6 text-highlight text-sm">
    {data.description}
  </p>
  <div class="relative flex-1">
    <button class="p-0.5 absolute top-4 right-4">
      <CopyIcon />
    </button>
    <Code
      class="!text-sm [&_code]:!text-highlight overflow-hidden h-full !bg-muted !rounded-lg"
      data-astro-code
      code={data.code}
      themes={{ light: 'github-light', dark: 'github-dark' }}
      lang="text"
    />
  </div>
</div>
