---
import '../style.css';
import { SITE_DESCRIPTION, SITE_TITLE } from '../const';
import Navbar from '@components/common/Navbar.astro';
import Head from '@components/core/Head.astro';
import Footer from '@components/common/Footer.astro';
const { frontmatter } = Astro.props;
const title = Astro.props.title ?? frontmatter?.title ?? SITE_TITLE;
const description = frontmatter?.description ? frontmatter.description : SITE_DESCRIPTION;
const isLanding = Astro.url.pathname === '/';
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches),
      );
    </script>
    <Head title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <slot />
    <script
      type="text/javascript"
      src="https://cdn.onedesk.so/widgets/onedesk-widget.js?widgetId=0199d79b-f8eb-7ab1-94f0-9337181f59fa"
      async
      defer></script>
    {!isLanding && <Footer />}
    <script src="../../static/hummingbird.bundle.min.js"></script>
    <script src="../../static/docs.js"></script>
  </body>
</html>
