---
import CardWrapper from '../CardWrapper.astro';

const colors = [
  '--color-blue-50',
  '--color-blue-100',
  '--color-blue-200',
  '--color-blue-300',
  '--color-blue-400',
  '--color-blue-500',
  '--color-blue-600',
  '--color-blue-700',
  '--color-blue-800',
  '--color-blue-900',
  '--color-blue-950',
];
---

<CardWrapper color="primary" class="shadow-primary/5 dark:shadow-primary-darker/5">
  <h3 class="mb-4 text-base font-bold">Blue Palette</h3>

  <div class="grid grid-cols-11 gap-1 grow">
    {
      colors.map((variable) => {
        const label = variable.split('-').pop();
        return (
          <div class="flex flex-col h-full">
            <p class="mb-1 text-xs text-center text-emphasis">{label}</p>
            <div class="rounded-sm grow" style={{ backgroundColor: `var(${variable})` }} />
          </div>
        );
      })
    }
  </div>
</CardWrapper>
