---
import Code from 'astro/components/Code.astro';
import CardWrapper from './CardWrapper.astro';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<CardWrapper color="secondary" class={className}>
  <h3 class="mb-4 font-bold">Css Variables</h3>

  <Code
    class="!text-sm h-full !bg-muted !rounded-lg"
    data-astro-code
    code={`.table {
  color: var(--table-color);
  background-color: var(--table-bg);
  border: 1px solid var(--table-border-color);
  border-radius: 0.25rem;
}`}
    themes={{ light: 'github-light', dark: 'github-dark' }}
    lang="css"
  />
</CardWrapper>
