---
import Code from 'astro/components/Code.astro';
import CardWrapper from '../CardWrapper.astro';
---

<CardWrapper color="secondary" class="shadow-secondary/5 dark:shadow-secondary-darker/5">
  <h3 class="mb-4 text-base font-bold">Css Variables</h3>

  <Code
    class="!text-sm grow !bg-muted !rounded-lg !overflow-auto scrollbar-hide"
    data-astro-code
    code={`.table {
  color: var(--table-color);
  background-color: var(--table-bg);
  border: 1px solid var(--table-border-color);
  border-radius: 0.25rem;
}`}
    themes={{ light: 'github-light', dark: 'github-dark' }}
    lang="sass"
  />
</CardWrapper>
