---
import Code from 'astro/components/Code.astro';
import CardWrapper from '../CardWrapper.astro';
---

<CardWrapper color="secondary" class="shadow-secondary/5 dark:shadow-secondary-darker/5">
  <h3 class="mb-4 text-base font-bold">JavaScript</h3>

  <Code
    class="!text-sm h-full !bg-muted !rounded-lg !overflow-auto scrollbar-hide"
    data-astro-code
    code={`btn.addEventListener('click', async () => {
      const code = btn.dataset.code;
      if (!code) return;

      try {
        await navigator.clipboard.writeText(code);

        if (copyIcon && checkIcon) {
          copyIcon.classList.add('hidden');
          checkIcon.classList.remove('hidden');`}
    themes={{ light: 'github-light', dark: 'github-dark' }}
    lang="javascript"
  />
</CardWrapper>
