---
import Code from 'astro/components/Code.astro';
import CardWrapper from './CardWrapper.astro';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<CardWrapper color="secondary" class={className}>
  <h3 class="mb-4 font-bold">JavaScript</h3>

  <Code
    class="!text-sm h-full !bg-muted !rounded-lg"
    data-astro-code
    code={`btn.addEventListener('click', async () => {
      const code = btn.dataset.code;
      if (!code) return;

      try {
        await navigator.clipboard.writeText(code);

        if (copyIcon && checkIcon) {
          copyIcon.classList.add('hidden');
          checkIcon.classList.remove('hidden');`}
    themes={{ light: 'github-light', dark: 'github-dark' }}
    lang="javascript"
  />
</CardWrapper>
