---
import CardWrapper from '../CardWrapper.astro';

const preferences = [
  { id: 'active', label: 'Active', checked: true },
  { id: 'mute', label: 'Mute', checked: false },
  { id: 'auto', label: 'Auto', checked: true },
];
---

<CardWrapper color="primary" class="shadow-primary/5 dark:shadow-primary-darker/5">
  <div class="mb-6 flex items-center gap-2">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.6516 22H10.3516C10.1682 22 10.0057 21.9417 9.86406 21.825C9.7224 21.7083 9.6349 21.5583 9.60156 21.375L9.20156 18.85C8.8849 18.7333 8.55156 18.575 8.20156 18.375C7.85156 18.175 7.54323 17.9667 7.27656 17.75L4.95156 18.825C4.76823 18.9083 4.5849 18.9208 4.40156 18.8625C4.21823 18.8042 4.07656 18.6833 3.97656 18.5L2.32656 15.575C2.22656 15.4083 2.20156 15.2333 2.25156 15.05C2.30156 14.8667 2.40156 14.7167 2.55156 14.6L4.70156 13.025C4.66823 12.875 4.6474 12.7042 4.63906 12.5125C4.63073 12.3208 4.62656 12.15 4.62656 12C4.62656 11.85 4.63073 11.6792 4.63906 11.4875C4.6474 11.2958 4.66823 11.125 4.70156 10.975L2.55156 9.4C2.40156 9.28333 2.30156 9.13333 2.25156 8.95C2.20156 8.76667 2.22656 8.59167 2.32656 8.425L3.97656 5.5C4.07656 5.31667 4.21823 5.19583 4.40156 5.1375C4.5849 5.07917 4.76823 5.09167 4.95156 5.175L7.27656 6.25C7.54323 6.03333 7.85156 5.825 8.20156 5.625C8.55156 5.425 8.8849 5.275 9.20156 5.175L9.60156 2.625C9.6349 2.44167 9.7224 2.29167 9.86406 2.175C10.0057 2.05833 10.1682 2 10.3516 2H13.6516C13.8349 2 13.9974 2.05833 14.1391 2.175C14.2807 2.29167 14.3682 2.44167 14.4016 2.625L14.8016 5.15C15.1182 5.26667 15.4557 5.42083 15.8141 5.6125C16.1724 5.80417 16.4766 6.01667 16.7266 6.25L19.0516 5.175C19.2349 5.09167 19.4182 5.07917 19.6016 5.1375C19.7849 5.19583 19.9266 5.31667 20.0266 5.5L21.6766 8.4C21.7766 8.56667 21.8057 8.74583 21.7641 8.9375C21.7224 9.12917 21.6182 9.28333 21.4516 9.4L19.3016 10.925C19.3349 11.0917 19.3557 11.2708 19.3641 11.4625C19.3724 11.6542 19.3766 11.8333 19.3766 12C19.3766 12.1667 19.3724 12.3417 19.3641 12.525C19.3557 12.7083 19.3349 12.8833 19.3016 13.05L21.4516 14.6C21.6016 14.7167 21.7016 14.8667 21.7516 15.05C21.8016 15.2333 21.7766 15.4083 21.6766 15.575L20.0266 18.5C19.9266 18.6833 19.7849 18.8042 19.6016 18.8625C19.4182 18.9208 19.2349 18.9083 19.0516 18.825L16.7266 17.75C16.4599 17.9667 16.1557 18.1792 15.8141 18.3875C15.4724 18.5958 15.1349 18.75 14.8016 18.85L14.4016 21.375C14.3682 21.5583 14.2807 21.7083 14.1391 21.825C13.9974 21.9417 13.8349 22 13.6516 22ZM12.0016 15.25C12.9016 15.25 13.6682 14.9333 14.3016 14.3C14.9349 13.6667 15.2516 12.9 15.2516 12C15.2516 11.1 14.9349 10.3333 14.3016 9.7C13.6682 9.06667 12.9016 8.75 12.0016 8.75C11.1016 8.75 10.3349 9.06667 9.70156 9.7C9.06823 10.3333 8.75156 11.1 8.75156 12C8.75156 12.9 9.06823 13.6667 9.70156 14.3C10.3349 14.9333 11.1016 15.25 12.0016 15.25ZM12.0016 13.75C11.5182 13.75 11.1057 13.5792 10.7641 13.2375C10.4224 12.8958 10.2516 12.4833 10.2516 12C10.2516 11.5167 10.4224 11.1042 10.7641 10.7625C11.1057 10.4208 11.5182 10.25 12.0016 10.25C12.4849 10.25 12.8974 10.4208 13.2391 10.7625C13.5807 11.1042 13.7516 11.5167 13.7516 12C13.7516 12.4833 13.5807 12.8958 13.2391 13.2375C12.8974 13.5792 12.4849 13.75 12.0016 13.75ZM10.9016 20.5H13.1016L13.4516 17.7C14.0016 17.5667 14.5224 17.3583 15.0141 17.075C15.5057 16.7917 15.9516 16.45 16.3516 16.05L19.0016 17.2L20.0016 15.4L17.6516 13.675C17.7182 13.3917 17.7724 13.1125 17.8141 12.8375C17.8557 12.5625 17.8766 12.2833 17.8766 12C17.8766 11.7167 17.8599 11.4375 17.8266 11.1625C17.7932 10.8875 17.7349 10.6083 17.6516 10.325L20.0016 8.6L19.0016 6.8L16.3516 7.95C15.9682 7.51667 15.5349 7.15417 15.0516 6.8625C14.5682 6.57083 14.0349 6.38333 13.4516 6.3L13.1016 3.5H10.9016L10.5516 6.3C9.9849 6.41667 9.45573 6.61667 8.96406 6.9C8.4724 7.18333 8.0349 7.53333 7.65156 7.95L5.00156 6.8L4.00156 8.6L6.35156 10.325C6.2849 10.6083 6.23073 10.8875 6.18906 11.1625C6.1474 11.4375 6.12656 11.7167 6.12656 12C6.12656 12.2833 6.1474 12.5625 6.18906 12.8375C6.23073 13.1125 6.2849 13.3917 6.35156 13.675L4.00156 15.4L5.00156 17.2L7.65156 16.05C8.05156 16.45 8.4974 16.7917 8.98906 17.075C9.48073 17.3583 10.0016 17.5667 10.5516 17.7L10.9016 20.5Z"
        fill="currentColor"></path>
    </svg>
    <h3 class="mb-0 text-base font-bold">Preferences</h3>
  </div>

  <div class="grow flex flex-col justify-between">
    {
      preferences.map(({ id, label, checked }) => (
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id={id} checked={checked} />
          <label for={id} class="form-check-label text-sm font-semibold text-highlight">
            {label}
          </label>
        </div>
      ))
    }
  </div>
</CardWrapper>
