---
import 'dropzone/dist/dropzone.css';
---

<div class="p-6 rounded-2xl border border-gray-200">
  <h3 class="mb-4 font-bold">Uploader</h3>
  <form
    id="my-dropzone"
    class="dropzone h-15 flex items-center justify-center !min-h-0 !border-1 !border-dashed !border-base !rounded-lg bg-gray-50"
  >
  </form>

  <div id="preview-container" class="flex flex-wrap gap-3"></div>

  <script>
    import Dropzone from 'dropzone';
    Dropzone.autoDiscover = false;

    const dz = new Dropzone('#my-dropzone', {
      url: '/api/upload',
      maxFilesize: 2,
      acceptedFiles: 'image/*',
      previewsContainer: '#preview-container',
      dictDefaultMessage: `<div class="flex items-center gap-2">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.25 17.5C3.91667 17.5 3.625 17.375 3.375 17.125C3.125 16.875 3 16.5833 3 16.25V3.75C3 3.41667 3.125 3.125 3.375 2.875C3.625 2.625 3.91667 2.5 4.25 2.5H12.1458C12.3264 2.5 12.4757 2.55903 12.5937 2.67708C12.7118 2.79514 12.7708 2.94444 12.7708 3.125C12.7708 3.30556 12.7118 3.45486 12.5937 3.57292C12.4757 3.69097 12.3264 3.75 12.1458 3.75H4.25V16.25H16.75V8.375C16.75 8.19444 16.809 8.04514 16.9271 7.92708C17.0451 7.80903 17.1944 7.75 17.375 7.75C17.5556 7.75 17.7049 7.80903 17.8229 7.92708C17.941 8.04514 18 8.19444 18 8.375V16.25C18 16.5833 17.875 16.875 17.625 17.125C17.375 17.375 17.0833 17.5 16.75 17.5H4.25ZM15.7083 7.125C15.5278 7.125 15.3785 7.06597 15.2604 6.94792C15.1424 6.82986 15.0833 6.68056 15.0833 6.5V5.4375H14.0208C13.8403 5.4375 13.691 5.37847 13.5729 5.26042C13.4549 5.14236 13.3958 4.99306 13.3958 4.8125C13.3958 4.63194 13.4549 4.48264 13.5729 4.36458C13.691 4.24653 13.8403 4.1875 14.0208 4.1875H15.0833V3.125C15.0833 2.94444 15.1424 2.79514 15.2604 2.67708C15.3785 2.55903 15.5278 2.5 15.7083 2.5C15.8889 2.5 16.0382 2.55903 16.1562 2.67708C16.2743 2.79514 16.3333 2.94444 16.3333 3.125V4.1875H17.3958C17.5764 4.1875 17.7257 4.24653 17.8437 4.36458C17.9618 4.48264 18.0208 4.63194 18.0208 4.8125C18.0208 4.99306 17.9618 5.14236 17.8437 5.26042C17.7257 5.37847 17.5764 5.4375 17.3958 5.4375H16.3333V6.5C16.3333 6.68056 16.2743 6.82986 16.1562 6.94792C16.0382 7.06597 15.8889 7.125 15.7083 7.125ZM6.14583 14.125H14.875C15.0139 14.125 15.1111 14.0694 15.1667 13.9583C15.2222 13.8472 15.2083 13.7361 15.125 13.625L12.75 10.4583C12.6806 10.375 12.5972 10.3333 12.5 10.3333C12.4028 10.3333 12.3194 10.375 12.25 10.4583L9.85417 13.6042L8.14583 11.3542C8.07639 11.2708 7.99305 11.2292 7.89583 11.2292C7.79861 11.2292 7.71528 11.2708 7.64583 11.3542L5.89583 13.625C5.82639 13.7361 5.82292 13.8472 5.88542 13.9583C5.94792 14.0694 6.03472 14.125 6.14583 14.125ZM4.25 8.375V16.25V3.75V6.60417C4.25 6.78472 4.25 6.93403 4.25 7.05208C4.25 7.17014 4.25 7.22917 4.25 7.22917V7.75C4.25 7.93056 4.25 8.07986 4.25 8.19792C4.25 8.31597 4.25 8.375 4.25 8.375Z"
            fill="currentColor"></path>
        </svg>
        <p class="mb-0 text-xs">
          <span>Drop files here</span>
          <span class="mx-1 text-emphasis">or</span>
          <span class="text-primary">browse from device</span>
        </p>
      </div>`,
      previewTemplate: `
        <div class="relative w-24 h-24 rounded-lg overflow-hidden shadow-md">
          <img data-dz-thumbnail class="object-cover w-full h-full" />
          <button data-dz-remove
            class="absolute top-1 right-1 bg-black/60 text-white text-xs rounded-full px-1">
            ✕
          </button>
        </div>
      `,
    });
  </script>
</div>
