---
export const BannerHTML = `
<div class="card border-subtle rounded-2xl h-full">
  <div class="card-body flex flex-col items-center justify-center px-10 py-6">
    <h4 class="card-title">Hummingbird</h4>
    <p class="mb-6">Color Themes</p>
    <a href="#" class="btn btn-subtle-primary">View all themes</a>
  </div>
</div>
`;
---
