---
import CardWrapper from '../CardWrapper.astro';

const colors = [
  '50:#ebf5ff',
  '100:#d1e8ff',
  '200:#a3d2ff',
  '300:#7abeff',
  '400:#4da7ff',
  '500:#1e90ff',
  '600:#0074e6',
  '700:#0058ad',
  '800:#003970',
  '900:#001c38',
  '950:#00101f',
];
---

<CardWrapper color="primary" class="shadow-primary/5 dark:shadow-primary-darker/5">
  <h3 class="mb-4 text-base font-bold">Blue Palette</h3>

  <div class="grid grid-cols-11 gap-1 grow">
    {
      colors.map((item) => {
        const color = item.split(':');
        return (
          <div class="flex flex-col h-full" data-bs-toggle="tooltip" data-bs-title={color[1]}>
            <p class="mb-1 text-xs text-center text-subtle">{color[0]}</p>
            <div class="rounded-sm grow" style={{ backgroundColor: color[1] }} />
          </div>
        );
      })
    }
  </div>
</CardWrapper>
