---
import CardWrapper from '../CardWrapper.astro';
import AppCode from '@components/common/AppCode.astro';
---

<CardWrapper color="secondary" class="shadow-secondary/5 dark:shadow-secondary-darker/5">
  <h3 class="mb-4 text-base font-bold">CSS Variables</h3>
  <AppCode
    class="grow !overflow-auto scrollbar-hide"
    code={`@theme {
  --color-primary: var(--color-blue-500);
  --color-secondary: var(--color-purple-500);
  --color-danger: var(--color-red-500);
}`}
    lang="sass"
  />
</CardWrapper>
