---
import Layout from '@layouts/Layout.astro';
interface Props {
  title: string;
  description: string;
}
const { title, description }: Props = Astro.props;
---

<Layout>
  <div class="px-5">
    <div class="max-w-7xl mx-auto my-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" class="link link-hover">Home</a></li>
          <li class="breadcrumb-item"><a href="/blocks" class="link link-hover">Blocks</a></li>
          <li class="breadcrumb-item active" aria-current="page">{title}</li>
        </ol>
      </nav>
      <h3 class="mb-4 mt-8">{title}</h3>
      <p class="text-lg">
        {description}
      </p>
      <slot />
    </div>
  </div>
</Layout>
