@utility btn {
  --btn-bg: var(--color-highlight);
  --btn-content: var(--color-default-color);
  --btn-font-weight: var(--font-weight-semibold);
  --btn-hover-bg: --alpha(var(--btn-bg) / 88%);
  --btn-border-width: 0;
  --btn-border-color: unset;
  --btn-width: unset;
  --btn-height: unset;

  @apply inline-flex items-center justify-center cursor-pointer transition-[background] duration-200 relative gap-1.5 
    bg-[var(--btn-bg)]
    text-[length:var(--input-btn-font-size)]
    font-[weight:var(--btn-font-weight)]
    rounded-[var(--input-btn-radius)]
    px-[var(--input-btn-padding-x)]
    py-[var(--input-btn-padding-y)]
    text-[var(--btn-content)]
    leading-[var(--input-btn-line-height)]
    min-w-4
    w-[var(--btn-width)]
    h-[var(--btn-height)]
    border-[length:var(--btn-border-width)]
    border-[var(--btn-border-color)]
    hover:bg-[var(--btn-hover-bg)];

  .btn-check + &:hover {
    @apply bg-[var(--btn-bg)];
  }
  &:active,
  &.active,
  .btn-check:checked + & {
    --btn-bg: var(--btn-hover-bg);
  }
  &:is(:disabled, [disabled], .disabled) {
    @apply pointer-events-none text-disabled;
    --btn-bg: var(--btn-disabled-bg, var(--color-disabled-bg));
    --btn-border-color: var(--btn-disabled-border);
  }
  + input[type="file"] {
    @apply hidden;
  }
}

@utility btn-sm {
  --input-btn-padding-y: calc(var(--spacing) * 1.5);
  --input-btn-padding-x: calc(var(--spacing) * 2.5);
  --input-btn-radius: var(--radius-sm);
  --input-btn-line-height: 1.25;
}
@utility btn-lg {
  --input-btn-font-size: var(--text-base);
  --input-btn-padding-y: calc(var(--spacing) * 2.5);
  --input-btn-padding-x: calc(var(--spacing) * 5.5);
}

/* variant contained */
@utility btn-primary {
  --btn-bg: var(--color-primary);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-primary-dark);
}
@utility btn-secondary {
  --btn-bg: var(--color-secondary);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-secondary-dark);
}
@utility btn-info {
  --btn-bg: var(--color-info);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-info-dark);
}
@utility btn-success {
  --btn-bg: var(--color-success);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-success-dark);
}
@utility btn-warning {
  --btn-bg: var(--color-warning);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-warning-dark);
}
@utility btn-error {
  --btn-bg: var(--color-error);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-error-dark);
}
@utility btn-neutral {
  --btn-bg: var(--color-main);
  --btn-content: var(--color-contrast);
  --btn-hover-bg: var(--color-dark);
}

/* variant subtle */
@utility btn-subtle-primary {
  --btn-bg: --alpha(var(--color-primary) / 15%);
  --btn-content: var(--color-primary-dark);
  --btn-hover-bg: --alpha(var(--color-primary) / 20%);
  --btn-disabled-bg: --alpha(var(--color-primary) / 15%);
}
@utility btn-subtle-secondary {
  --btn-bg: --alpha(var(--color-secondary) / 15%);
  --btn-content: var(--color-secondary-dark);
  --btn-hover-bg: --alpha(var(--color-secondary) / 20%);
  --btn-disabled-bg: --alpha(var(--color-secondary) / 15%);
}
@utility btn-subtle-info {
  --btn-bg: --alpha(var(--color-info) / 15%);
  --btn-content: var(--color-info-dark);
  --btn-hover-bg: --alpha(var(--color-info) / 20%);
  --btn-disabled-bg: --alpha(var(--color-info) / 15%);
}
@utility btn-subtle-success {
  --btn-bg: --alpha(var(--color-success) / 15%);
  --btn-content: var(--color-success-dark);
  --btn-hover-bg: --alpha(var(--color-success) / 20%);
  --btn-disabled-bg: --alpha(var(--color-success) / 15%);
}
@utility btn-subtle-warning {
  --btn-bg: --alpha(var(--color-warning) / 15%);
  --btn-content: var(--color-warning-dark);
  --btn-hover-bg: --alpha(var(--color-warning) / 20%);
  --btn-disabled-bg: --alpha(var(--color-warning) / 15%);
}
@utility btn-subtle-error {
  --btn-bg: --alpha(var(--color-error) / 15%);
  --btn-content: var(--color-error-dark);
  --btn-hover-bg: --alpha(var(--color-error) / 20%);
  --btn-disabled-bg: --alpha(var(--color-error) / 15%);
}
@utility btn-subtle-neutral {
  --btn-bg: var(--color-muted);
  --btn-content: var(--color-dark);
  --btn-hover-bg: var(--color-highlight);
  --btn-disabled-bg: var(--color-lighter);
}

/* variant outline */
@utility btn-outline-primary {
  --btn-bg: transparent;
  --btn-content: var(--color-primary);
  --btn-hover-bg: --alpha(var(--color-primary) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-primary) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-secondary {
  --btn-bg: transparent;
  --btn-content: var(--color-secondary);
  --btn-hover-bg: --alpha(var(--color-secondary) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-secondary) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-info {
  --btn-bg: transparent;
  --btn-content: var(--color-info);
  --btn-hover-bg: --alpha(var(--color-info) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-info) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-success {
  --btn-bg: transparent;
  --btn-content: var(--color-success);
  --btn-hover-bg: --alpha(var(--color-success) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-success) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-warning {
  --btn-bg: transparent;
  --btn-content: var(--color-warning);
  --btn-hover-bg: --alpha(var(--color-warning) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-warning) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-error {
  --btn-bg: transparent;
  --btn-content: var(--color-error);
  --btn-hover-bg: --alpha(var(--color-error) / 12%);
  --btn-border-width: 1px;
  --btn-border-color: --alpha(var(--color-error) / 50%);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
@utility btn-outline-neutral {
  --btn-bg: transparent;
  --btn-content: var(--color-main);
  --btn-hover-bg: var(--color-muted);
  --btn-border-width: 1px;
  --btn-border-color: var(--color-emphasis);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: var(--color-disabled-bg);
}
[class*="btn-outline"] {
  @apply py-[calc(var(--input-btn-padding-y)_-_1px)];
  &.btn-sm {
    @apply py-[calc(var(--input-btn-padding-y)_-_1px)];
  }
  &.btn-lg {
    @apply py-[calc(var(--input-btn-padding-y)_-_1px)];
  }
}

/* variant text */
@utility btn-text-primary {
  --btn-bg: transparent;
  --btn-content: var(--color-primary);
  --btn-hover-bg: --alpha(var(--color-primary) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-secondary {
  --btn-bg: transparent;
  --btn-content: var(--color-secondary);
  --btn-hover-bg: --alpha(var(--color-secondary) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-info {
  --btn-bg: transparent;
  --btn-content: var(--color-info);
  --btn-hover-bg: --alpha(var(--color-info) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-success {
  --btn-bg: transparent;
  --btn-content: var(--color-success);
  --btn-hover-bg: --alpha(var(--color-success) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-warning {
  --btn-bg: transparent;
  --btn-content: var(--color-warning);
  --btn-hover-bg: --alpha(var(--color-warning) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-error {
  --btn-bg: transparent;
  --btn-content: var(--color-error);
  --btn-hover-bg: --alpha(var(--color-error) / 12%);
  --btn-disabled-bg: transparent;
}
@utility btn-text-neutral {
  --btn-bg: transparent;
  --btn-content: var(--color-main);
  --btn-hover-bg: var(--color-muted);
  --btn-disabled-bg: transparent;
}

/* square button */
@utility btn-square {
  --btn-width: 2.3125rem;
  --btn-height: 2.3125rem;
  --input-btn-padding-y: 0;
  --input-btn-padding-x: 0;
  &.btn-sm {
    --btn-width: 1.84375rem;
    --btn-height: 1.84375rem;
    --input-btn-padding-y: 0;
    --input-btn-padding-x: 0;
  }
  &.btn-lg {
    --btn-width: 2.75rem;
    --btn-height: 2.75rem;
    --input-btn-padding-y: 0;
    --input-btn-padding-x: 0;
  }
}

/* circle button */
@utility btn-circle {
  --btn-width: 2.3125rem;
  --btn-height: 2.3125rem;
  --input-btn-padding-y: 0;
  --input-btn-padding-x: 0;
  --input-btn-radius: calc(infinity * 1px);
  &.btn-sm {
    --btn-width: 1.84375rem;
    --btn-height: 1.84375rem;
    --input-btn-padding-y: 0;
    --input-btn-padding-x: 0;
    --input-btn-radius: calc(infinity * 1px);
  }
  &.btn-lg {
    --btn-width: 2.75rem;
    --btn-height: 2.75rem;
    --input-btn-padding-y: 0;
    --input-btn-padding-x: 0;
  }
}

/* icon button */
@utility btn-icon {
  --btn-bg: transparent;
  --btn-content: var(--color-active);
  --btn-hover-bg: --alpha(var(--color-active) / 4%);
  --btn-disabled-bg: transparent;
  --input-btn-padding-y: calc(var(--spacing) * 2);
  --input-btn-padding-x: calc(var(--spacing) * 2);
  --input-btn-radius: calc(infinity * 1px);

  &.btn-sm {
    --input-btn-padding-y: calc(var(--spacing) * 1.25);
    --input-btn-padding-x: calc(var(--spacing) * 1.25);
    --input-btn-radius: calc(infinity * 1px);
  }
  &.btn-lg {
    --input-btn-padding-y: calc(var(--spacing) * 3);
    --input-btn-padding-x: calc(var(--spacing) * 3);
  }
}
@utility btn-icon-primary {
  --btn-content: var(--color-primary);
  --btn-hover-bg: --alpha(var(--color-primary) / 4%);
}
@utility btn-icon-secondary {
  --btn-content: var(--color-secondary);
  --btn-hover-bg: --alpha(var(--color-secondary) / 4%);
}
@utility btn-icon-info {
  --btn-content: var(--color-info);
  --btn-hover-bg: --alpha(var(--color-info) / 4%);
}
@utility btn-icon-success {
  --btn-content: var(--color-success);
  --btn-hover-bg: --alpha(var(--color-success) / 4%);
}
@utility btn-icon-warning {
  --btn-content: var(--color-warning);
  --btn-hover-bg: --alpha(var(--color-warning) / 4%);
}
@utility btn-icon-error {
  --btn-content: var(--color-error);
  --btn-hover-bg: --alpha(var(--color-error) / 4%);
}
