@utility form-floating {
  @apply relative inline-flex flex-col gap-1;
  .form-control-outline {
    @apply inline-flex w-full;
    --btn-padding-y: calc(var(--hb-spacing) * 2.5);
    line-height: 2;
    &:focus,
    &:not(:placeholder-shown) {
      & + .form-label {
        transform: translate(8px, -12px) scale(0.85);
        z-index: 1;
      }
      &.form-control-sm {
        & + .form-label {
          transform: translate(4px, -12px) scale(0.85);
        }
      }
      &.form-control-lg {
        & + .form-label {
          transform: translate(12px, -14px) scale(0.85);
        }
      }
    }
    &:is(:disabled, [disabled]),
    &:has(> input[disabled]) {
      & + .form-label {
        --input-label-color: var(--color-disabled);
      }
    }
  }
  .form-control-sm {
    --btn-padding-y: calc(var(--hb-spacing) * 1.75);
    & + .form-label {
      transform: translate(12px, 10px) scale(1);
    }
  }
  .form-control-lg {
    --btn-padding-y: calc(var(--hb-spacing) * 2.75);
    --input-padding-x: calc(var(--hb-spacing) * 5);
    & + .form-label {
      transform: translate(20px, 14px) scale(1);
      font-size: var(--text-base);
    }
  }
  .form-label {
    @apply absolute top-0 inline-block transition-transform duration-200 cursor-text;
    font-weight: var(--font-weight-normal);
    transform: translate(16px, 12px) scale(1);
    font-size: var(--text-sm);
    line-height: 1.5;
    margin-left: calc(var(--hb-spacing) * -2);
    padding: 0 calc(var(--hb-spacing) * 2);
    z-index: -1;
    background-color: var(--color-default);
  }
}
