@utility form-floating {
  @apply relative inline-flex flex-col gap-1;
  .form-label {
    @apply absolute top-0 inline-block transition-transform duration-200 cursor-text;
    font-weight: var(--font-weight-normal);
    transform: translate(16px, 13px) scale(1);
    font-size: var(--text-sm);
    line-height: 1.5;
    margin-left: calc(var(--hb-spacing) * -2);
    padding: 0 calc(var(--hb-spacing) * 2);
    background-color: var(--color-default);
  }

  .form-control-outline {
    @apply inline-flex w-full;
    --btn-padding-y: calc(var(--hb-spacing) * 2.5);
    line-height: 2;
    &:focus-within,
    &:not(:placeholder-shown) {
      & + .form-label {
        transform: translate(10px, -12px) scale(0.85);
      }
      &.form-control-sm + .form-label {
        transform: translate(8px, -12px) scale(0.85);
      }
      &.form-control-lg + .form-label {
        transform: translate(10px, -14px) scale(0.75);
      }
    }
    &:is(:disabled, [disabled]),
    &:has(> input[disabled]) {
      & + .form-label {
        @apply cursor-default;
        --input-label-color: var(--color-disabled);
      }
    }
  }
  .form-control {
    @apply inline-flex w-full;
    --floating-label-padding-top: calc(var(--hb-spacing) * 5.5);
    --floating-label-padding-bottom: calc(var(--hb-spacing) * 1.25);
    line-height: 1.5;
    & + .form-label {
      background-color: transparent;
      padding: 0;
      margin: 0;
    }
    & :where(input),
    &:not(:has(input)) {
      padding-top: var(--floating-label-padding-top);
      padding-bottom: var(--floating-label-padding-bottom);
    }
    &.form-control-sm {
      --floating-label-padding-top: calc(var(--hb-spacing) * 4.5);
      --floating-label-padding-bottom: calc(var(--hb-spacing) * 0.75);
    }
    &.form-control-lg {
      --floating-label-padding-top: calc(var(--hb-spacing) * 5.75);
      --floating-label-padding-bottom: calc(var(--hb-spacing) * 1.75);
    }
    &:focus-within,
    input&:not(:placeholder-shown),
    textarea&:not(:placeholder-shown) {
      & + .form-label {
        transform: translate(10px, 4px) scale(0.85);
      }
      &.form-control-sm + .form-label {
        transform: translate(6px, 2px) scale(0.85);
      }
      &.form-control-lg + .form-label {
        transform: translate(10px, 4px) scale(0.75);
      }
    }
    &:has(.form-control-icon):not(:has(> * + .form-control-icon)) {
      + .form-label {
        transform: translate(43px, 13px) scale(1);
      }
      &.form-control-sm + .form-label {
        transform: translate(34px, 10px) scale(1);
      }
      &.form-control-lg + .form-label {
        transform: translate(52px, 14px) scale(1);
      }
      &:focus-within,
      &:has(> input:not(:placeholder-shown)) {
        & + .form-label {
          transform: translate(37px, 4px) scale(0.85);
        }
        &.form-control-sm + .form-label {
          transform: translate(27px, 2px) scale(0.85);
        }
        &.form-control-lg + .form-label {
          transform: translate(40px, 4px) scale(0.75);
        }
      }
    }
    &:is(:disabled, [disabled]),
    &:has(> input[disabled]) {
      & + .form-label {
        @apply cursor-default;
        --input-label-color: var(--color-disabled);
      }
    }
  }
  .form-control-sm {
    --btn-padding-y: calc(var(--hb-spacing) * 1.75);
    & + .form-label {
      transform: translate(12px, 10px) scale(1);
    }
  }
  .form-control-lg {
    --btn-padding-y: calc(var(--hb-spacing) * 2.75);
    --input-padding-x: calc(var(--hb-spacing) * 5);
    & + .form-label {
      transform: translate(20px, 14px) scale(1);
      font-size: var(--text-base);
    }
  }
}
