<div class="py-30">
  <main>
    <section id="hero">
      <h1 class="text-6xl font-bold font-sans">Hummingbird</h1>
      <h2 class="my-5 text-xl max-w-2/3 text-highlight">
        Hummingbird is a modern UI component library built with Tailwind CSS, designed to help developers quickly build
        beautiful and responsive user interfaces.
      </h2>
      <section id="links">
        <a href="/docs/components/buttons" type="button" class="btn btn-primary">Read our docs</a>
      </section>
    </section>
  </main>
</div>
