@layer theme {
  [data-theme='arctic'] {
    --color-white: #f1f9fb;
    --color-black: #030405;

    --color-slate-50: #e3f3f4;
    --color-slate-100: #d3e4e7;
    --color-slate-200: #c5d6d6;
    --color-slate-300: #b7c7c5;
    --color-slate-400: #a0aaa8;
    --color-slate-500: #7f8681;
    --color-slate-600: #5e6a66;
    --color-slate-700: #3b4948;
    --color-slate-800: #2b393a;
    --color-slate-900: #1a282a;
    --color-slate-950: #102122;

    --color-teal-50: #cee7e8;
    --color-teal-100: #b2d7dc;
    --color-teal-200: #80bdc5;
    --color-teal-300: #4da2ae;
    --color-teal-400: #1a8896;
    --color-teal-500: #017b8b;
    --color-teal-600: #02707e;
    --color-teal-700: #025864;
    --color-teal-800: #004149;
    --color-teal-900: #012b31;
    --color-teal-950: #001719;

    --color-violet-50: #e0dcef;
    --color-violet-100: #cecbe8;
    --color-violet-200: #afa9d9;
    --color-violet-300: #8e86ca;
    --color-violet-400: #6e64ba;
    --color-violet-500: #5e53b3;
    --color-violet-600: #554ba1;
    --color-violet-700: #433b80;
    --color-violet-800: #312b5e;
    --color-violet-900: #211d3f;
    --color-violet-950: #151126;

    --color-red-50: #f0d0d0;
    --color-red-100: #ebc1c1;
    --color-red-200: #e2a3a3;
    --color-red-300: #d67e7e;
    --color-red-400: #ca5959;
    --color-red-500: #c44747;
    --color-red-600: #b14040;
    --color-red-700: #8c3333;
    --color-red-800: #672525;
    --color-red-900: #451919;
    --color-red-950: #260e0e;

    --color-green-50: #d7e9e0;
    --color-green-100: #b7d9c7;
    --color-green-200: #89c1a2;
    --color-green-300: #59a77c;
    --color-green-400: #43c87e;
    --color-green-500: #2da262;
    --color-green-600: #10753e;
    --color-green-700: #0d5c31;
    --color-green-800: #094524;
    --color-green-900: #072e19;
    --color-green-950: #04170c;

    --color-brown-50: #ebe4d6;
    --color-brown-100: #dfd2bb;
    --color-brown-200: #cab48f;
    --color-brown-300: #b59661;
    --color-brown-400: #9f7834;
    --color-brown-500: #95691e;
    --color-brown-600: #865f1b;
    --color-brown-700: #6b4b15;
    --color-brown-800: #4e3710;
    --color-brown-900: #34250b;
    --color-brown-950: #1a1305;

    --color-blue-50: #cee0ed;
    --color-blue-100: #bdd6e6;
    --color-blue-200: #91bbd6;
    --color-blue-300: #65a0c5;
    --color-blue-400: #3984b5;
    --color-blue-500: #2377ad;
    --color-blue-600: #206b9c;
    --color-blue-700: #19557b;
    --color-blue-800: #133f5b;
    --color-blue-900: #0d2a3d;
    --color-blue-950: #07151f;

    /* Background colors */
    --background-color-subtle: var(--color-slate-50);
    --background-color-muted: var(--color-slate-100);
    --background-color-default: var(--color-white);
    --background-color-highlight: var(--color-slate-200);
    --background-color-emphasis: var(--color-slate-300);

    /* Text colors */
    --text-color-subtle: var(--color-slate-400);
    --text-color-muted: var(--color-slate-600);
    --text-color-default: var(--color-slate-800);
    --text-color-highlight: var(--color-slate-900);
    --text-color-emphasis: var(--color-slate-950);

    /* Neutral */
    --color-light: var(--color-slate-100);
    --color-dark: var(--color-slate-950);
    --color-contrast: var(--color-white);

    /* Primary */
    --color-primary-lighter: var(--color-teal-50);
    --color-primary-light: var(--color-teal-400);
    --color-primary: var(--color-teal-500);
    --color-primary-dark: var(--color-teal-600);
    --color-primary-darker: var(--color-teal-900);

    /* Secondary */
    --color-secondary-lighter: var(--color-violet-50);
    --color-secondary-light: var(--color-violet-300);
    --color-secondary: var(--color-violet-500);
    --color-secondary-dark: var(--color-violet-700);
    --color-secondary-darker: var(--color-violet-900);

    /* Danger */
    --color-danger-lighter: var(--color-red-50);
    --color-danger-light: var(--color-red-300);
    --color-danger: var(--color-red-500);
    --color-danger-dark: var(--color-red-600);
    --color-danger-darker: var(--color-red-900);

    /* Warning */
    --color-warning-lighter: var(--color-brown-50);
    --color-warning-light: var(--color-brown-400);
    --color-warning: var(--color-brown-500);
    --color-warning-dark: var(--color-brown-700);
    --color-warning-darker: var(--color-brown-900);

    /* Success */
    --color-success-lighter: var(--color-green-50);
    --color-success-light: var(--color-green-400);
    --color-success: var(--color-green-500);
    --color-success-dark: var(--color-green-700);
    --color-success-darker: var(--color-green-900);

    /* Info */
    --color-info-lighter: var(--color-blue-50);
    --color-info-light: var(--color-blue-300);
    --color-info: var(--color-blue-500);
    --color-info-dark: var(--color-blue-700);
    --color-info-darker: var(--color-blue-900);

    /* Actions */
    --color-active: var(--color-slate-500);
    --color-hover: var(--color-slate-100);
    --color-selected: var(--color-slate-100);
    --color-disabled-color: var(--color-slate-400);
    --color-disabled: var(--color-slate-200);
    --color-focus: var(--color-slate-300);

    /* Borders */
    --border-color-subtle: --alpha(var(--color-slate-300) / 60%);
    --border-color-default: var(--color-slate-300);
    --border-color-emphasis: var(--color-slate-600);
  }
}

[data-theme='arctic'].dark {
  /* Background colors */
  --background-color-subtle: var(--color-slate-900);
  --background-color-muted: var(--color-slate-800);
  --background-color-default: var(--color-slate-950);
  --background-color-highlight: var(--color-slate-700);
  --background-color-emphasis: var(--color-slate-600);

  /* Text colors */
  --text-color-subtle: var(--color-slate-500);
  --text-color-muted: var(--color-slate-400);
  --text-color-default: var(--color-slate-100);
  --text-color-highlight: var(--color-slate-50);
  --text-color-emphasis: var(--color-white);

  /* neutral */
  --color-light: var(--color-slate-800);
  --color-dark: var(--color-slate-700);
  --color-contrast: var(--color-slate-950);

  /* primary */
  --color-primary-lighter: var(--color-teal-900);
  --color-primary-light: var(--color-teal-700);
  --color-primary: var(--color-teal-400);
  --color-primary-dark: var(--color-teal-300);
  --color-primary-darker: var(--color-teal-100);

  /* secondary */
  --color-secondary-lighter: var(--color-violet-900);
  --color-secondary-light: var(--color-violet-700);
  --color-secondary: var(--color-violet-400);
  --color-secondary-dark: var(--color-violet-300);
  --color-secondary-darker: var(--color-violet-100);

  /* danger */
  --color-danger-lighter: var(--color-red-900);
  --color-danger-light: var(--color-red-600);
  --color-danger: var(--color-red-400);
  --color-danger-dark: var(--color-red-300);
  --color-danger-darker: var(--color-red-200);

  /* warning */
  --color-warning-lighter: var(--color-brown-900);
  --color-warning-light: var(--color-brown-800);
  --color-warning: var(--color-brown-400);
  --color-warning-dark: var(--color-brown-300);
  --color-warning-darker: var(--color-brown-200);

  /* success */
  --color-success-lighter: var(--color-green-900);
  --color-success-light: var(--color-green-700);
  --color-success: var(--color-green-400);
  --color-success-dark: var(--color-green-300);
  --color-success-darker: var(--color-green-200);

  /* info */
  --color-info-lighter: var(--color-blue-900);
  --color-info-light: var(--color-blue-700);
  --color-info: var(--color-blue-400);
  --color-info-dark: var(--color-blue-300);
  --color-info-darker: var(--color-blue-200);

  /* borders */
  --border-color-subtle: var(--color-slate-800);
  --border-color-default: var(--color-slate-700);
  --border-color-emphasis: var(--color-slate-600);

  /* actions */
  --color-active: var(--color-slate-500);
  --color-hover: var(--color-slate-700);
  --color-selected: var(--color-slate-900);
  --color-disabled-color: var(--color-slate-500);
  --color-disabled: var(--color-slate-700);
  --color-focus: var(--color-slate-700);
}
