@layer theme {
  [data-theme='dracula'] {
    --color-white: #fafaf3;
    --color-black: #100d13;

    --color-gray-50: #efecf3;
    --color-gray-100: #e4e1e8;
    --color-gray-200: #d8d6dd;
    --color-gray-300: #c5c3cb;
    --color-gray-400: #a5a3ac;
    --color-gray-500: #807e87;
    --color-gray-600: #595760;
    --color-gray-700: #44424c;
    --color-gray-800: #36333e;
    --color-gray-900: #22202b;
    --color-gray-950: #18161f;

    --color-purple-50: #eae1fa;
    --color-purple-100: #decdfa;
    --color-purple-200: #ceb5f5;
    --color-purple-300: #bb98f5;
    --color-purple-400: #ab7ef2;
    --color-purple-500: #9c6ceb;
    --color-purple-600: #8a5ed1;
    --color-purple-700: #6e4aa8;
    --color-purple-800: #55348a;
    --color-purple-900: #412670;
    --color-purple-950: #342252;

    --color-pink-50: #fae1ef;
    --color-pink-100: #facde6;
    --color-pink-200: #f5b5d9;
    --color-pink-300: #f598cc;
    --color-pink-400: #f27ec0;
    --color-pink-500: #eb6cb4;
    --color-pink-600: #d15e9f;
    --color-pink-700: #a84a7f;
    --color-pink-800: #8a3465;
    --color-pink-900: #702650;
    --color-pink-950: #52223d;

    --color-red-50: #fae1e1;
    --color-red-100: #facdcd;
    --color-red-200: #f5b5b5;
    --color-red-300: #f59898;
    --color-red-400: #f27e7e;
    --color-red-500: #eb6c6c;
    --color-red-600: #d15e5e;
    --color-red-700: #a84a4a;
    --color-red-800: #8a3434;
    --color-red-900: #702626;
    --color-red-950: #522222;

    --color-green-50: #e1fae7;
    --color-green-100: #cdfad7;
    --color-green-200: #b5f5c4;
    --color-green-300: #98f5ad;
    --color-green-400: #7ef299;
    --color-green-500: #6ceb89;
    --color-green-600: #5ed179;
    --color-green-700: #4aa860;
    --color-green-800: #348a48;
    --color-green-900: #267037;
    --color-green-950: #22522d;

    --color-orange-50: #faede1;
    --color-orange-100: #fae3cd;
    --color-orange-200: #f5d5b5;
    --color-orange-300: #f5c698;
    --color-orange-400: #f2b87e;
    --color-orange-500: #ebab6c;
    --color-orange-600: #d1985e;
    --color-orange-700: #a8794a;
    --color-orange-800: #8a5f34;
    --color-orange-900: #704b26;
    --color-orange-950: #523a22;

    --color-sky-50: #e1f5fa;
    --color-sky-100: #cdf2fa;
    --color-sky-200: #b5e9f5;
    --color-sky-300: #98e4f5;
    --color-sky-400: #7eddf2;
    --color-sky-500: #6cd3eb;
    --color-sky-600: #5ebcd1;
    --color-sky-700: #4a97a8;
    --color-sky-800: #347a8a;
    --color-sky-900: #266370;
    --color-sky-950: #224952;

    /* Background colors */
    --background-color-subtle: var(--color-gray-50);
    --background-color-muted: var(--color-gray-100);
    --background-color-default: var(--color-white);
    --background-color-highlight: var(--color-gray-200);
    --background-color-emphasis: var(--color-gray-300);

    /* Text colors */
    --text-color-subtle: var(--color-gray-400);
    --text-color-muted: var(--color-gray-600);
    --text-color-default: var(--color-gray-800);
    --text-color-highlight: var(--color-gray-900);
    --text-color-emphasis: var(--color-gray-950);

    /* neutral */
    --color-light: var(--color-gray-100);
    --color-dark: var(--color-gray-950);
    --color-contrast: var(--color-white);

    /* primary */
    --color-primary-lighter: var(--color-purple-50);
    --color-primary-light: var(--color-purple-400);
    --color-primary: var(--color-purple-500);
    --color-primary-dark: var(--color-purple-600);
    --color-primary-darker: var(--color-purple-900);

    /* secondary */
    --color-secondary-lighter: var(--color-pink-50);
    --color-secondary-light: var(--color-pink-300);
    --color-secondary: var(--color-pink-500);
    --color-secondary-dark: var(--color-pink-700);
    --color-secondary-darker: var(--color-pink-900);

    /* danger */
    --color-danger-lighter: var(--color-red-50);
    --color-danger-light: var(--color-red-300);
    --color-danger: var(--color-red-500);
    --color-danger-dark: var(--color-red-600);
    --color-danger-darker: var(--color-red-900);

    /* warning */
    --color-warning-lighter: var(--color-orange-50);
    --color-warning-light: var(--color-orange-400);
    --color-warning: var(--color-orange-500);
    --color-warning-dark: var(--color-orange-700);
    --color-warning-darker: var(--color-orange-900);

    /* success */
    --color-success-lighter: var(--color-green-50);
    --color-success-light: var(--color-green-400);
    --color-success: var(--color-green-500);
    --color-success-dark: var(--color-green-700);
    --color-success-darker: var(--color-green-900);

    /* info */
    --color-info-lighter: var(--color-sky-50);
    --color-info-light: var(--color-sky-300);
    --color-info: var(--color-sky-500);
    --color-info-dark: var(--color-sky-700);
    --color-info-darker: var(--color-sky-900);

    /* actions */
    --color-active: var(--color-gray-500);
    --color-hover: var(--color-gray-100);
    --color-selected: var(--color-gray-100);
    --color-disabled-color: var(--color-gray-400);
    --color-disabled: var(--color-gray-200);
    --color-focus: var(--color-gray-300);

    /* borders */
    --border-color-subtle: --alpha(var(--color-gray-300) / 60%);
    --border-color-default: var(--color-gray-300);
    --border-color-emphasis: var(--color-gray-600);

    @variant dark {
      /* Background colors */
      --background-color-subtle: var(--color-gray-900);
      --background-color-muted: var(--color-gray-800);
      --background-color-default: var(--color-gray-950);
      --background-color-highlight: var(--color-gray-700);
      --background-color-emphasis: var(--color-gray-600);

      /* Text colors */
      --text-color-subtle: var(--color-gray-500);
      --text-color-muted: var(--color-gray-400);
      --text-color-default: var(--color-gray-100);
      --text-color-highlight: var(--color-gray-50);
      --text-color-emphasis: var(--color-white);

      /* Neutral */
      --color-light: var(--color-gray-800);
      --color-dark: var(--color-gray-700);
      --color-contrast: var(--color-gray-950);

      /* Primary */
      --color-primary-lighter: var(--color-purple-950);
      --color-primary-light: var(--color-purple-700);
      --color-primary: var(--color-purple-400);
      --color-primary-dark: var(--color-purple-300);
      --color-primary-darker: var(--color-purple-100);

      /* Secondary */
      --color-secondary-lighter: var(--color-pink-950);
      --color-secondary-light: var(--color-pink-700);
      --color-secondary: var(--color-pink-400);
      --color-secondary-dark: var(--color-pink-300);
      --color-secondary-darker: var(--color-pink-100);

      /* Danger */
      --color-danger-lighter: var(--color-red-950);
      --color-danger-light: var(--color-red-600);
      --color-danger: var(--color-red-400);
      --color-danger-dark: var(--color-red-300);
      --color-danger-darker: var(--color-red-200);

      /* Warning */
      --color-warning-lighter: var(--color-orange-950);
      --color-warning-light: var(--color-orange-800);
      --color-warning: var(--color-orange-400);
      --color-warning-dark: var(--color-orange-300);
      --color-warning-darker: var(--color-orange-200);

      /* Success */
      --color-success-lighter: var(--color-green-950);
      --color-success-light: var(--color-green-700);
      --color-success: var(--color-green-400);
      --color-success-dark: var(--color-green-300);
      --color-success-darker: var(--color-green-200);

      /* Info */
      --color-info-lighter: var(--color-sky-950);
      --color-info-light: var(--color-sky-700);
      --color-info: var(--color-sky-400);
      --color-info-dark: var(--color-sky-300);
      --color-info-darker: var(--color-sky-200);

      /* Actions */
      --color-active: var(--color-gray-500);
      --color-hover: var(--color-gray-700);
      --color-selected: var(--color-gray-900);
      --color-disabled-color: var(--color-gray-500);
      --color-disabled: var(--color-gray-700);
      --color-focus: var(--color-gray-700);

      /* Borders */
      --border-color-subtle: var(--color-gray-800);
      --border-color-default: var(--color-gray-700);
      --border-color-emphasis: var(--color-gray-600);
    }
  }
}
