---
import EventList from './cards/EventList.astro';
import Uploader from './cards/Uploader.astro';
import EcoCard from './cards/EcoCard.astro';
import HoursChart from './cards/HoursChart.astro';
import TimePicker from './cards/TimePicker.astro';
import JSCode from './cards/JSCode.astro';
import MonthlyProfitChart from './cards/MonthlyProfitChart.astro';
import ProfileCard from './cards/ProfileCard.astro';
import Switch from './cards/Switch.astro';
import BluePalette from './cards/BluePalette.astro';
import InputFileds from './cards/InputFileds.astro';
import Members from './cards/Members.astro';
import DarkLightCard from './cards/DarkLightCard.astro';
import CSSVariables from './cards/CSSVariables.astro';
import ActivityChart from './cards/ActivityChart.astro';
---

<div class="overflow-hidden w-[678px] h-[600px] relative">
  <div class="cols space-y-4">
    <div class="grid grid-cols-3 gap-4 col">
      <EventList class="col-span-1" />
      <Uploader class="col-span-2" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <EcoCard class="col-span-2" />
      <HoursChart class="col-span-1" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <TimePicker class="col-span-1" />
      <JSCode class="col-span-2" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <MonthlyProfitChart class="col-span-1" />
      <ProfileCard class="col-span-1" />
      <Switch class="col-span-1" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <BluePalette class="col-span-2" />
      <InputFileds class="col-span-1" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <Members class="col-span-1" />
      <DarkLightCard class="col-span-2" />
    </div>
    <div class="grid grid-cols-3 gap-4 col">
      <CSSVariables class="col-span-2" />
      <ActivityChart class="col-span-1" />
    </div>
  </div>
</div>

<script>
  // import gsap from 'gsap';

  // window.addEventListener('load', () => {
  //   const wrapper = document.querySelector('.cols') as HTMLElement;
  //   const rows = gsap.utils.toArray('.col');

  //   rows.forEach((row: any) => {
  //     wrapper.appendChild(row.cloneNode(true));
  //   });

  //   const totalHeight = wrapper.scrollHeight / 2;

  //   const tween = gsap.fromTo(
  //     wrapper,
  //     { y: -totalHeight },
  //     {
  //       y: 0,
  //       duration: 20,
  //       ease: 'none',
  //       repeat: -1,
  //     },
  //   );

  //   wrapper.addEventListener('mouseenter', () => tween.pause());
  //   wrapper.addEventListener('mouseleave', () => tween.resume());
  // });
</script>
