---
import BluePalette from './cards/BluePalette.astro';
import Checkbox from './cards/Checkbox.astro';
import CSSVariables from './cards/CSSVariables.astro';
import DarkLightCard from './cards/DarkLightCard.astro';
import EcoCard from './cards/EcoCard.astro';
import InputFileds from './cards/InputFileds.astro';
import JSCode from './cards/JSCode.astro';
import Members from './cards/Members.astro';
import ProfileCard from './cards/ProfileCard.astro';
import Switch from './cards/Switch.astro';
import TimePicker from './cards/TimePicker.astro';
import Uploader from './cards/Uploader.astro';
---

<div class="max-w-[800px] space-y-4">
  <TimePicker />
  <Checkbox />
  <Uploader />
  <EcoCard />
  <ProfileCard />
  <Switch />
  <InputFileds />
  <Members />
  <DarkLightCard />
  <BluePalette />
  <JSCode />
  <CSSVariables />
</div>
