<div class="bg-subtle p-2">
  <ul class="navbar-nav flex-row">
    <li class="nav-item me-1">
      <a
      href="#!"
        class={`nav-link px-4 py-2 text-muted text-sm rounded-lg bg-hover font-bold hover:bg-primary/16 hover:text-primary-dark ${true ? 'text-primary-dark bg-primary/16' : ''}`}
      >
        Marketing
      </a>
    </li>
    <li class="nav-item me-1">
      <a
      href="#!"
        class={`nav-link px-4 py-2 text-muted text-sm rounded-lg bg-hover font-bold hover:bg-primary/16 hover:text-primary-dark`}
      >
        Application UI
      </a>
    </li>
    <li class="nav-item">
      <a
      href="#!"
        class={`nav-link px-4 py-2 text-muted text-sm rounded-lg bg-hover font-bold hover:bg-primary/16 hover:text-primary`}
      >
        E commerce
      </a>
    </li>
  </ul>
</div>