<div class="card border-0 bg-default p-6">
  <div class="card-header border-light px-0 flex justify-between items-center">
    <h6 class="font-semibold text-base">Billed Annually</h6>
    <div class="form-check form-switch">
      <label class="form-check-label">Monthly </label>
      <input class="form-check-input" type="checkbox" value="" id="pricingSwitch2" />
      <label class="form-check-label">Yearly </label>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="grid lg:grid-cols-3">
      <div class="card border-0 bg-default rounded-none max-w-130 w-full mx-auto">
        <div class="card-body p-6">
          <div class="border-b border-light text-center pb-6 mb-6">
            <h5 class="font-medium text-default">Single</h5>
            <p>For teams that need to create project plans with confidence.</p>
            <h4 class="my-6">$0<span class="text-sm font-normal">/ month</span></h4>
            <button class="btn btn-outline-primary">Start Free Trial</button>
          </div>
          <h6 class="text-base font-semibold text-default mb-3">Track team projects with free:</h6>
          <ul class="list-none ps-0">
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Timeline
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Advanced Search
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Custom fields
              <span class="badge badge-subtle-success">New</span>
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Task dependencies
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Private teams & projects
            </li>
          </ul>
          <a class="text-base no-underline" href="#">More about single</a>
        </div>
      </div>
      <div class="card border-0 bg-primary-lighter rounded-none max-w-130 w-full mx-auto">
        <div class="card-body p-6">
          <div class="border-b border-primary-light text-center pb-6 mb-6">
            <h5 class="font-medium text-default">Business</h5>
            <p>For teams and companies that need to manage work across initiatives.</p>
            <h4 class="my-6">$29<span class="text-sm font-normal">/ month</span></h4>
            <button class="btn btn-primary">Get Business</button>
          </div>
          <h6 class="text-base font-semibold text-default mb-3">Everything in Premium, plus:</h6>
          <ul class="list-none ps-0">
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Portfolios
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Lock custom fields
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Onboarding plan
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Resource Management
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Lock custom fields
            </li>
          </ul>
          <a class="text-base no-underline" href="#">More about Business</a>
        </div>
      </div>
      <div class="card border-0 bg-default rounded-none max-w-130 w-full mx-auto">
        <div class="card-body p-6">
          <div class="border-b border-light text-center pb-6 mb-6">
            <h5 class="font-medium text-default">Extended</h5>
            <p>For organizations that need additional security and support.</p>
            <h4 class="my-6">$99<span class="text-sm font-normal">/ month</span></h4>
            <button class="btn btn-outline-primary">Purchase</button>
          </div>
          <h6 class="text-base font-semibold text-default mb-3">Everything in Business, plus:</h6>
          <ul class="list-none ps-0">
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Portfolios
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Tags
              <span class="badge badge-subtle-primary">Coming Soon</span>
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Onboarding plan
            </li>
            <li class="text-base flex items-center py-1 gap-2">
              <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
                  stroke-width="0.5"
                  stroke="currentColor"></path></svg
              >
              Resource Management
            </li>
          </ul>
          <a class="text-base no-underline" href="#">More about Extended</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center py-6 border-t border-light">
    <h6 class="font-semibold">Looking for personal or small team task management?</h6>
    <p class="text-base">Try the basic version of Hummingbird</p>
  </div>
</div>
