---
export const MembersHTML = `
<div class="card border-subtle rounded-2xl h-full">
  <div class="card-body flex flex-col">
    <h6 class="card-title text-base">Select Members</h6>
    <ul class="list-group space-y-1">
      <li class="list-group-item rounded-lg py-1.5 list-group-item-action has-[:checked]:bg-primary-lighter">
        <div class="form-check">
          <div class="avatar avatar-sm me-2">
            <img src="/images/avatar/avatar_15.webp" alt="Avatar" class="rounded-full" />
          </div>
          <label for="firstCheckbox" class="form-check-label flex-1 text-sm font-semibold">Sophie Turner</label>
          <label for="firstCheckbox" class="form-check-input-wrapper -me-2.5">
            <input class="form-check-input" type="checkbox" value="" id="firstCheckbox" checked />
          </label>
        </div>
      </li>
      <li class="list-group-item rounded-lg py-1.5 list-group-item-action has-[:checked]:bg-primary-lighter">
        <div class="form-check">
          <div class="avatar avatar-sm me-2">
            <img src="/images/avatar/avatar_1.webp" alt="Avatar" class="rounded-full" />
          </div>
          <label for="thirdCheckbox" class="form-check-label flex-1 text-sm font-semibold">Liam Anderson</label>
          <label for="thirdCheckbox" class="form-check-input-wrapper -me-2.5">
            <input class="form-check-input" type="checkbox" value="" id="thirdCheckbox" />
          </label>
        </div>
      </li>
      <li class="list-group-item rounded-lg py-1.5 list-group-item-action has-[:checked]:bg-primary-lighter">
        <div class="form-check">
          <div class="avatar avatar-sm me-2">
            <img src="/images/avatar/avatar_2.webp" alt="Avatar" class="rounded-full" />
          </div>
          <label for="fourthCheckbox" class="form-check-label flex-1 text-sm font-semibold">Ava Smith</label>
          <label for="fourthCheckbox" class="form-check-input-wrapper -me-2.5">
            <input class="form-check-input" type="checkbox" value="" id="fourthCheckbox" />
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
`;
---
