---
import SectionHeader from '@components/sections/landing/common/SectionHeader.astro';
import SectionWrapper from '@components/sections/landing/common/SectionWrapper.astro';
import gridRightL from '@assets/images/landing/grids/grid-right-l.png';
import gridRightD from '@assets/images/landing/grids/grid-right-d.png';
import ThemesSlider from './ThemesSlider.astro';
import { themingMarkup } from './ComponentCode.astro';
---

<div class="relative">
  <div class="absolute w-240 -top-28 -right-46 -z-10">
    <img src={gridRightD.src} class="hidden dark:block object-contain" />
    <img src={gridRightL.src} class="dark:hidden object-contain" />
  </div>

  <SectionWrapper id="theming" class="max-w-148 sm:max-w-172 lg:max-w-5xl">
    <SectionHeader
      title="Color themes, perfected."
      subtitle="Hummingbird offers a range of thoughtfully crafted themes with balanced colors, smooth transitions, and a consistent UI"
    />
    <div data-iframe-theme-sync-container>
      <div class="mb-4">
        <ThemesSlider />
      </div>
      <iframe
        data-element="theme-iframe"
        srcdoc={themingMarkup}
        sandbox="allow-scripts allow-same-origin allow-forms allow-popups"
        class="w-full rounded-4xl min-h-116 sm:min-h-182 lg:min-h-135 overflow-hidden"></iframe>
    </div>
  </SectionWrapper>
</div>

<script>
  const container = document.querySelector<HTMLElement>('[data-iframe-theme-sync-container]');
  const iframe = container?.querySelector<HTMLIFrameElement>('[data-element="theme-iframe"]');
  const themeItems = container?.querySelectorAll<HTMLElement>('[data-landing-theme-item]');

  const updateState = (theme: string) => {
    // Update iframe
    const docEl = iframe?.contentDocument?.documentElement;
    if (docEl) docEl.setAttribute('data-theme', theme);

    // Update slider active state
    themeItems?.forEach((item) => {
      const isMatch = item.getAttribute('data-theme') === theme;
      const classes = ['!border-[#1e90ff]', '!dark:border-[#4da7ff]', 'py-2.5'];
      classes.forEach((cls) => item.classList.toggle(cls, isMatch));
    });
  };

  themeItems?.forEach((item) => {
    item.addEventListener('click', () => {
      const theme = item.getAttribute('data-theme');
      if (theme) updateState(theme);
    });
  });

  iframe?.addEventListener('load', () => {
    updateState(localStorage.getItem('main-theme') || 'default');
  });
</script>
