---
import BlocksNav from "@components/blocks/BlocksNav.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="container max-w-7xl mx-auto my-10">
    <div class="text-center mb-10">
      <h1 class="text-4xl md:text-6xl -tracking-[6.5%]">Beautiful UI components, built for <br class="hidden sm:block" /> real-world projects.</h1>
      <p class="md:text-lg">An open-source system sensibly designed for rapid development, <br class="hidden sm:block md:hidden" /> without <br class="hidden md:block" /> sacrificing the granular control of utility-first CSS.</p>
    </div>
    <BlocksNav/>
  </div>
</Layout>