---
import GlobalStylesCard from './GlobalStylesCard.astro';
import GradientBorderBox from '@components/sections/landing/common/GradientBorderBox.astro';
import SectionWrapper from '@components/sections/landing/common/SectionWrapper.astro';
import ChevronIcon from '@components/icons/ChevronIcon.astro';
import { globalStyles } from 'apps/data/landing/global-styles';
import { getVersionedPath } from '@libs/config';
---

<SectionWrapper id="global-styles" class="py-20 max-w-260">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-6 md:gap-y-10">
    <GlobalStylesCard class="rounded-2xl" style={globalStyles[0]} />

    <div
      class="mb-6 md:mb-0 md:pl-10 lg:pl-18 py-0 md:py-22 order-first md:order-none flex flex-col items-center md:items-start"
    >
      <h1 class="mb-4 text-[28px] md:text-[32px] lg:text-[42px] text-center md:text-left font-medium tracking-tighter">
        Global Styles, <br class="sm:hidden md:flex" />Granular Control
      </h1>
      <p class="mb-6 text-muted text-center md:text-left max-w-120 md:max-w-105">
        Hummingbird employs a two-tier CSS framework that offers both global oversight and localized adaptability.
      </p>
      <a
        type="button"
        href={getVersionedPath('/docs/customize/component')}
        class="flex -ml-4 btn btn-text-primary hover:bg-transparent"
        >Learn more about customization<ChevronIcon />
      </a>
    </div>
    {
      globalStyles.slice(1).map((item, i) => (
        <GradientBorderBox color={i === 0 ? 'primary' : 'info'} class="flex flex-col border-2!">
          <GlobalStylesCard style={item} class="border-0" />
        </GradientBorderBox>
      ))
    }
  </div>
</SectionWrapper>
