---
interface Props extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className = '', ...rest } = Astro.props;
---

<section class={`mx-auto px-6 lg:px-10 py-12 sm:py-20 w-full ${className}`} {...rest}>
  <slot />
</section>
