@utility avatar-group {
  @layer base {
    @apply flex;
    :where(.avatar) {
      @apply rounded-full border-2 border-contrast -ms-3
      size-[calc(var(--avatar-size)+4px)] overflow-hidden;
    }
  }
}
@utility avatar {
  @layer base {
    --avatar-size: --spacing(10);
    --avatar-status-size: calc(var(--avatar-size) / 4);
    --avatar-bg: var(--color-neutral);
    --avatar-color: var(--color-white);
    --avatar-font-weight: var(--font-weight-medium);
    --avatar-font-size: var(--text-lg);

    @apply relative inline-block
    size-(--avatar-size)
    align-middle;

    &[class*='avatar-status-']::before {
      @apply content-[''] 
      absolute end-[14%] bottom-[14%] 
      rounded-full size-(--avatar-status-size)
      scale-100 translate-x-[50%] translate-y-[50%];
    }
    @variant rtl {
      &[class*='avatar-status-']::before {
        @apply -translate-x-[50%];
      }
    }
  }
}
@utility avatar-name {
  @layer base {
    @apply flex items-center justify-center h-full w-full 
    font-(--avatar-font-weight) 
    text-(length:--avatar-font-size) 
    text-(--avatar-color) 
    bg-(--avatar-bg);
  }
}
@utility avatar-status-online {
  @layer base {
    &::before {
      @apply bg-success;
    }
  }
}
@utility avatar-status-offline {
  @layer base {
    &::before {
      @apply bg-neutral;
    }
  }
}
@utility avatar-status-away {
  @layer base {
    &::before {
      @apply bg-warning;
    }
  }
}
@utility avatar-status-busy {
  @layer base {
    &::before {
      @apply bg-danger;
    }
  }
}
@utility avatar-xs {
  @layer base {
    --avatar-size: --spacing(6);
    --avatar-font-size: var(--text-sm);
  }
}
@utility avatar-sm {
  @layer base {
    --avatar-size: --spacing(8);
    --avatar-font-size: var(--text-base);
  }
}
@utility avatar-lg {
  @layer base {
    --avatar-size: --spacing(12.5);
    --avatar-font-size: var(--text-xl);
  }
}
