.popover {
  --popover-zindex: 1070;
  --popover-max-width: 16rem;
  --popover-font-size: var(--text-sm);
  --popover-bg: var(--background-color-default);
  --popover-border-width: var(--border-width);
  --popover-border-color: var(--border-color-subtle);
  --popover-border-radius: var(--radius-lg);
  --popover-box-shadow: var(--shadow-xl);
  --popover-header-padding-x: --spacing(4);
  --popover-header-padding-y: --spacing(3);
  --popover-margin: --spacing(1);
  --popover-header-font-size: var(--text-base);
  --popover-header-color: var(--text-color-default);
  --popover-header-bg: var(--background-color-default);
  --popover-body-padding-x: --spacing(4);
  --popover-body-padding-y: --spacing(3);
  --popover-body-color: var(--text-color-default);
  --popover-arrow-width: 0.85rem;
  --popover-arrow-height: 0.62rem;
  --popover-arrow-border-radius: --spacing(0.5);
  --popover-arrow-border-color: var(--popover-border-color);

  @apply z-(--popover-zindex)
  block
  max-w-(--popover-max-width)
  text-(length:--popover-font-size)
  break-words
  bg-(--popover-bg)
  bg-clip-padding
  border-(length:--popover-border-width)
  border-(--popover-border-color)
  rounded-(--popover-border-radius)
  shadow-(--popover-box-shadow);

  .popover-arrow {
    @apply overflow-hidden
    w-(--popover-arrow-width)
    h-(--popover-arrow-height);

    &::before {
      @apply content-['']
      block w-full h-full
      bg-(--popover-bg)
      rotate-45
      border-(length:--popover-border-width)
      border-(--popover-arrow-border-color);
    }
  }
}

.bs-popover-auto {
  &[data-popper-placement^='top'] {
    @apply mb-(--popover-margin)!;
    .popover-arrow {
      @apply bottom-0 -mb-(--popover-arrow-height);
      &::before {
        @apply origin-top-right
        rounded-br-(--popover-arrow-border-radius);
      }
    }
  }
  &[data-popper-placement^='right'] {
    --popover-arrow-height: 0.85rem;
    --popover-arrow-width: 0.62rem;
    @apply ml-(--popover-margin)!;
    .popover-arrow {
      @apply left-0 -ml-(--popover-arrow-width);
      &::before {
        @apply origin-bottom-right
        rounded-bl-(--popover-arrow-border-radius);
      }
    }
  }
  &[data-popper-placement^='bottom'] {
    @apply mt-(--popover-margin)!;
    .popover-arrow {
      @apply top-0 -mt-(--popover-arrow-height);
      &::before {
        @apply origin-bottom-left
        rounded-tl-(--popover-arrow-border-radius);
      }
    }
  }
  &[data-popper-placement^='left'] {
    --popover-arrow-height: 0.85rem;
    --popover-arrow-width: 0.62rem;
    @apply mr-(--popover-margin)!;
    .popover-arrow {
      @apply right-0 -mr-(--popover-arrow-width);
      &::before {
        @apply origin-top-left
        rounded-tr-(--popover-arrow-border-radius);
      }
    }
  }
}

.popover-header {
  @apply px-(--popover-header-padding-x)
  py-(--popover-header-padding-y)
  mb-0
  text-(length:--popover-header-font-size)
  text-(--popover-header-color)
  bg-(--popover-header-bg)
  border-b-(length:--popover-border-width)
  border-(--popover-border-color)
  rounded-t-[calc(var(--popover-border-radius)-1.5px)]
  empty:hidden;
}

.popover-body {
  @apply px-(--popover-body-padding-x)
  py-(--popover-body-padding-y)
  text-(--popover-body-color);
}
