@utility toast {
  @layer base {
    --toast-zindex: 1090;
    --toast-padding-x: --spacing(4);
    --toast-padding-y: --spacing(2);
    --toast-spacing: --spacing(6);
    --toast-max-width: 21.875rem;
    --toast-font-size: var(--text-sm);
    --toast-color: var(--text-color-default);
    --toast-bg: var(--background-color-subtle);
    --toast-border-width: var(--border-width);
    --toast-border-color: transparent;
    --toast-border-radius: var(--radius-lg);
    --toast-box-shadow: var(--shadow-xs);
    --toast-header-color: var(--text-color-default);
    --toast-header-bg: var(--background-color-subtle);
    --toast-header-border-color: var(--border-color-default);

    @apply w-(--toast-max-width) max-w-full
    text-(length:--toast-font-size)
    text-(--toast-color)
    bg-(--toast-bg)
    pointer-events-auto
    bg-clip-padding
    shadow-(--toast-box-shadow)
    rounded-(--toast-border-radius);

    &:not(:has(.alert)) {
      @apply border-(length:--toast-border-width) border-(--toast-border-color);
      @variant dark {
        --toast-border-color: var(--border-color-subtle);
      }
    }

    &.showing {
      @apply opacity-0;
    }

    &:not(.show) {
      @apply hidden;
    }
  }
}

@utility toast-container {
  @layer base {
    --toast-zindex: 1090;

    @apply absolute z-(--toast-zindex)
    w-max max-w-full
    pointer-events-none;

    > :not(:last-child) {
      @apply mb-(--toast-spacing);
    }
  }
}

@utility toast-header {
  @apply flex items-center
  px-(--toast-padding-x) py-(--toast-padding-y)
  text-(--toast-header-color)
  bg-(--toast-header-bg)
  bg-clip-padding
  border-b-(length:--toast-border-width)
  border-(--toast-header-border-color)
  rounded-t-[calc(var(--toast-border-radius)-var(--toast-border-width))];

  .btn-close {
    @apply -me-[calc(0.5*var(--toast-padding-x))] ms-(--toast-padding-x);
  }
}

@utility toast-body {
  @apply p-(--toast-padding-x) wrap-break-word;
}
