---
import ComparisonTable from './ComparisonTable.astro';
import SectionHeader from '@components/sections/landing/common/SectionHeader.astro';
import SectionWrapper from '@components/sections/landing/common/SectionWrapper.astro';
import overlayDark from '@assets/images/landing/table/table-overlay-d.png';
import overlayLight from '@assets/images/landing/table/table-overlay-l.png';
---

<SectionWrapper
  id="comparison"
  class="py-60! -my-40 bg-cover bg-center bg-no-repeat bg-[url('/images/backgrounds/table-bg-l.png')] dark:bg-[url('/images/backgrounds/table-bg-d.png')]"
>
  <SectionHeader
    title="An evolved approach"
    subtitle="Hummingbird's utility-first approach delivers smaller bundles, better performance, and advanced customization by eliminating unused CSS."
    class="mb-14"
  />

  <div class="overflow-hidden overflow-x-auto">
    <div class="relative w-238 mx-auto">
      <img
        src={overlayDark.src}
        class="absolute top-0 left-1/4 w-1/4 h-142 pointer-events-none rounded-2xl z-10 hidden dark:block"
        alt="table-overlay"
      />
      <img
        src={overlayLight.src}
        class="absolute top-0 left-1/4 w-1/4 h-142 pointer-events-none rounded-2xl z-10 dark:hidden"
        alt="table-overlay"
      />
      <ComparisonTable />
    </div>
  </div>
</SectionWrapper>
