/* horizontal */
@utility hr-label-line {
  @layer base {
    @apply content-[''] flex-1 border-t border-light;
  }
}

@utility hr-label {
  @layer base {
    @apply py-3 flex items-center text-sm text-default;

    &::before {
      @apply hr-label-line me-4;
    }
    &::after {
      @apply hr-label-line ms-4;
    }
  }
}

/* vertical */
@utility vr {
  @layer base {
    @apply inline-block self-stretch border-s border-light min-h-6;
  }
}

@utility vr-label-line {
  @layer base {
    @apply content-[''] flex-1 border-s border-light;
  }
}

@utility vr-label {
  @layer base {
    @apply flex flex-col items-center text-sm text-default min-h-20;

    &::before {
      @apply vr-label-line mb-3;
    }
    &::after {
      @apply vr-label-line mt-3;
    }
  }
}

/* modifiers */
@utility label-start {
  &::before {
    @apply content-none;
  }
}

@utility label-end {
  &::after {
    @apply content-none;
  }
}
