@utility dropdown {
  @apply relative;
}
@utility dropdown-center {
  @apply relative;
}
@utility dropup-center {
  @apply relative;
}
/* @utility dropdown-toggle {
  @apply whitespace-nowrap;
} */
@utility dropdown-menu {
  --dropdown-zindex: 1000;
  --dropdown-bg: var(--color-default);
  --dropdown-spacer: calc(var(--spacing) * 0.5);
  --dropdown-min-width: 10rem;
  --dropdown-padding-x: 0;
  --dropdown-padding-y: calc(var(--spacing) * 2);
  --dropdown-font-size: var(--text-sm);
  --dropdown-box-shadow:
    6px 33px 46px 0px rgba(0, 0, 0, 0.07), 1px 20px 19px 0px rgba(0, 0, 0, 0.03), 2px 10px 10px 0px rgba(0, 0, 0, 0.01),
    0px -2px 6px 0px rgba(0, 0, 0, 0.03);
  --dropdown-border-radius: var(--radius-lg);
  --dropdown-link-color: var(--color-default-color);
  --dropdown-link-hover-color: var(--color-default-color);
  --dropdown-link-hover-bg: var(--color-subtle);
  --dropdown-link-disabled-color: var(--color-disabled-color);
  --dropdown-link-active-color: var(--color-primary);
  --dropdown-link-active-bg: var(--color-primary-lighter);
  --dropdown-item-padding-x: calc(var(--spacing) * 4);
  --dropdown-item-padding-y: calc(var(--spacing) * 1.5);
  --dropdown-divider-bg: var(--color-border-base);
  --dropdown-divider-margin-y: calc(var(--spacing) * 2);
  --dropdown-header-padding-y: calc(var(--spacing) * 2);
  --dropdown-header-padding-x: calc(var(--spacing) * 4);
  --dropdown-header-color: var(--color-highlight-color);

  @apply absolute 
  z-[var(--dropdown-zindex)]
  hidden
  min-w-[var(--dropdown-min-width)]
  px-[var(--dropdown-padding-x)]
  py-[var(--dropdown-padding-y)]
  m-0
  text-[length:var(--dropdown-font-size)]
  bg-[var(--dropdown-bg)]
  bg-clip-padding
  shadow-[var(--dropdown-box-shadow)]
  rounded-[var(--dropdown-border-radius)];
  /* TODO: Update data-bs-popper to data-popper-placement, need to check */
  &[data-popper-placement] {
    @apply top-full left-0 mt-[var(--dropdown-spacer)];
  }
}

@utility dropdown-menu-start {
  &[data-popper-placement] {
    @apply right-auto left-0;
  }
}
@utility dropdown-menu-end {
  &[data-popper-placement] {
    @apply right-0! left-auto!;
  }
}

@utility dropup {
  @apply relative;
  .dropdown-menu[data-popper-placement] {
    @apply top-auto bottom-full mt-0 mb-[var(--dropdown-spacer)];
  }
}
@utility dropend {
  @apply relative;
  .dropdown-menu[data-popper-placement] {
    @apply top-0 right-auto left-full mt-0 ml-[var(--dropdown-spacer)];
  }
}
@utility dropstart {
  @apply relative;
  .dropdown-menu[data-popper-placement] {
    @apply top-0 right-full left-auto mt-0 mr-[var(--dropdown-spacer)] hidden;
  }
}

@utility dropdown-divider {
  @apply h-0 overflow-hidden
  my-[var(--dropdown-divider-margin-y)]
  border-t
  border-[var(--dropdown-divider-bg)];
}

@utility dropdown-item {
  @apply block w-full
  px-[var(--dropdown-item-padding-x)]
  py-[var(--dropdown-item-padding-y)]
  clear-both
  text-left
  text-[var(--dropdown-link-color)]
  whitespace-nowrap;
  &:hover,
  &:focus {
    @apply text-[var(--dropdown-link-hover-color)]
    bg-[var(--dropdown-link-hover-bg)];
  }
  &.active,
  &:active {
    @apply text-[var(--dropdown-link-active-color)]
    bg-[var(--dropdown-link-active-bg)];
  }
  &.disabled,
  &:disabled {
    @apply text-[var(--dropdown-link-disabled-color)]
    pointer-events-none;
  }
}

.dropdown-menu {
  &.show {
    @apply block scale-100;
  }
}

@utility dropdown-header {
  @apply block font-semibold
  px-[var(--dropdown-header-padding-x)]
  py-[var(--dropdown-header-padding-y)]
  text-[var(--dropdown-header-color)]
  whitespace-nowrap;
}

@utility dropdown-item-text {
  @apply block
  px-[var(--dropdown-item-padding-x)]
  py-[var(--dropdown-item-padding-y)]
  text-[var(--dropdown-link-color)];
}
