@utility form-floating {
  @apply relative;

  .form-select-fill {
    --floating-label-padding-top: calc(var(--spacing) * 5.25);
    --floating-label-padding-bottom: calc(var(--spacing) * 1);

    @apply pt-[var(--floating-label-padding-top)] pb-[var(--floating-label-padding-bottom)];

    &::placeholder {
      @apply text-transparent;
    }

    &.form-select-sm {
      --floating-label-padding-top: calc(var(--spacing) * 4.25);
      --floating-label-padding-bottom: calc(var(--spacing) * 0.5);
      --form-select-line-height: 1.5;
    }
    &.form-select-lg {
      --floating-label-padding-top: calc(var(--spacing) * 5.5);
      --floating-label-padding-bottom: calc(var(--spacing) * 1.5);
    }
    &:focus-within,
    &:focus,
    select&:not(:placeholder-shown) {
      & + .form-label {
        @apply translate-x-[12px] translate-y-[4px] scale-[0.85];
      }
      &.form-select-sm + .form-label {
        @apply translate-x-[6px] translate-y-[2px] scale-[0.85];
      }
      &.form-select-lg + .form-label {
        @apply translate-x-[9px] translate-y-[4px] scale-[0.75];
      }
    }
  }

  .form-select {
    --form-select-padding-y: calc(var(--spacing) * 2.25);
    --form-select-line-height: 2;

    & ~ .form-label {
      --input-label-bg: var(--color-default);
      @apply -ms-2 px-2;
    }

    &::placeholder {
      @apply text-transparent;
    }

    &:focus-within,
    &:focus,
    &:not(:placeholder-shown) {
      & + .form-label {
        @apply translate-x-[12px] translate-y-[-12px] scale-[0.85];
      }
      &.form-select-sm + .form-label {
        @apply translate-x-[6px] translate-y-[-12px] scale-[0.85];
      }
      &.form-select-lg + .form-label {
        @apply translate-x-[9px] translate-y-[-14px] scale-[0.75];
      }
    }
  }

  .form-select-sm {
    --form-select-padding-y: calc(var(--spacing) * 1.5);
    & + .form-label {
      @apply translate-x-[12px] translate-y-[10px] scale-[1];
    }
  }
  .form-select-lg {
    --form-select-padding-y: calc(var(--spacing) * 2.5);
    --form-select-padding-x: calc(var(--spacing) * 5);
    & + .form-label {
      @apply text-base translate-x-[20px] translate-y-[14px] scale-[1];
    }
  }
}
