@utility form-select-fill {
  --form-select-font-size: var(--input-btn-font-size);
  --form-select-radius: var(--input-btn-radius);
  --form-select-padding-x: var(--input-btn-padding-x);
  --form-select-padding-y: var(--input-btn-padding-y);
  --form-select-line-height: var(--input-btn-line-height);
  --form-select-border-width: var(--input-btn-border-width);
  --form-select-padding-right: calc(var(--spacing) * 9);
  --form-select-bg-size: calc(var(--spacing) * 4) calc(var(--spacing) * 3);
  --form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%231B2124' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  --input-border-color: transparent;

  @apply relative inline-flex gap-2 items-center justify-center 
  transition duration-200
  appearance-none
  leading-[var(--form-select-line-height)]
  bg-[var(--input-bg)]
  text-[length:var(--form-select-font-size)]
  text-[var(--input-color)]
  rounded-[var(--form-select-radius)]
  border-[length:var(--form-select-border-width)]
  border-[var(--input-border-color)]
  pl-[var(--form-select-padding-x)]
  pr-[var(--form-select-padding-right)]
  py-[var(--form-select-padding-y)]
  bg-[image:var(--form-select-indicator)]
  bg-no-repeat
  bg-[position:right_var(--form-select-padding-x)_center]
  bg-[length:var(--form-select-bg-size)];

  &:is(:disabled, [disabled]) {
    @apply bg-[var(--input-disabled-bg)];
  }

  &:hover {
    @apply bg-[var(--input-hover-bg)];
  }

  &:focus-within,
  &:focus {
    @apply outline-0
    bg-[var(--input-focus-bg)]
    border-[var(--input-focus-border-color)];
  }
  &.is-invalid {
    --input-bg: var(--color-danger-lighter);
    --input-border-color: var(--color-danger);
  }

  .dark & {
    --form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23EBF2F5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  }
}

@utility form-select {
  --form-select-font-size: var(--input-btn-font-size);
  --form-select-radius: var(--input-btn-radius);
  --form-select-padding-x: var(--input-btn-padding-x);
  --form-select-padding-y: var(--input-btn-padding-y);
  --form-select-line-height: var(--input-btn-line-height);
  --form-select-border-width: var(--input-btn-border-width);
  --form-select-padding-right: calc(var(--spacing) * 9);
  --form-select-bg-size: calc(var(--spacing) * 4) calc(var(--spacing) * 3);
  --form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%231B2124' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  @apply relative inline-flex gap-2 items-center justify-center 
  transition duration-200
  appearance-none
  leading-[var(--form-select-line-height)]
  text-[length:var(--form-select-font-size)]
  text-[var(--input-color)]
  rounded-[var(--form-select-radius)]
  border-[length:var(--form-select-border-width)]
  border-[var(--input-border-color)]
  pl-[var(--form-select-padding-x)]
  pr-[var(--form-select-padding-right)]
  py-[var(--form-select-padding-y)]
  bg-[image:var(--form-select-indicator)]
  bg-no-repeat
  bg-[position:right_var(--form-select-padding-x)_center]
  bg-[length:var(--form-select-bg-size)];

  &:is(:disabled, [disabled]) {
    @apply opacity-50;
    &:hover {
      @apply border-[var(--input-disabled-border-color)];
    }
  }

  &:hover {
    @apply border-[var(--input-hover-border-color)];
  }

  &:focus-within,
  &:focus {
    @apply outline-0;
    @apply border-[var(--input-focus-border-color)];
  }

  &.is-invalid {
    --input-border-color: var(--color-danger);
  }

  .dark & {
    --form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23EBF2F5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  }
}

@utility form-select-sm {
  --form-select-padding-x: calc(var(--spacing) * 3);
  --form-select-padding-y: calc(var(--spacing) * 1.25);
  --form-select-radius: var(--radius-sm);
  --form-select-line-height: 1.25;
  --form-select-bg-size: calc(var(--spacing) * 3.5) calc(var(--spacing) * 2.5);
}
@utility form-select-lg {
  --form-select-padding-y: calc(var(--spacing) * 2.25);
  --form-select-font-size: var(--text-base);
  --form-select-bg-size: calc(var(--spacing) * 4.5) calc(var(--spacing) * 3.5);
}

@utility form-select-secondary {
  --input-focus-bg: var(--color-secondary-lighter);
  --input-focus-border-color: var(--color-secondary);
}
@utility form-select-info {
  --input-focus-bg: var(--color-info-lighter);
  --input-focus-border-color: var(--color-info);
}
@utility form-select-success {
  --input-focus-bg: var(--color-success-lighter);
  --input-focus-border-color: var(--color-success);
}
@utility form-select-warning {
  --input-focus-bg: var(--color-warning-lighter);
  --input-focus-border-color: var(--color-warning);
}
