@utility pagination {
  @layer base {
    --pagination-color: var(--text-color-default);
    --pagination-font-size: var(--text-sm);
    --pagination-padding-x: --spacing(1.5);
    --pagination-padding-y: --spacing(1.5);
    --pagination-width: unset;
    --pagination-height: 2rem;
    --pagination-border-width: 1px;
    --pagination-border-color: transparent;
    --pagination-radius: var(--radius-md);

    --pagination-hover-bg: var(--color-hover);
    --pagination-active-bg: var(--color-primary);
    --pagination-active-color: var(--color-white);
    --pagination-disabled-opacity: 0.35;

    @apply flex items-center gap-1 list-none m-0 p-0;
  }
}

@utility page-link {
  @layer base {
    @apply flex items-center justify-center text-center gap-1
    px-[var(--pagination-padding-x)]
    py-[var(--pagination-padding-y)]
    text-[var(--pagination-color)]
    text-[length:var(--pagination-font-size)] font-normal
    h-[var(--pagination-height)]
    w-[var(--pagination-width)] min-w-8
    border-[length:var(--pagination-border-width)]
    border-solid border-[var(--pagination-border-color)]
    rounded-[var(--pagination-radius)]
    no-underline transition-all duration-200;

    &:hover {
      @apply bg-[var(--pagination-hover-bg)];
    }

    &:focus {
      @apply outline-0;
    }

    &:focus-visible {
      @apply ring-4 ring-primary-lighter;
    }

    &.active {
      @apply text-[var(--pagination-active-color)] bg-[var(--pagination-active-bg)];
    }

    &:disabled,
    &.disabled {
      @apply pointer-events-none opacity-[var(--pagination-disabled-opacity)];
    }
  }
}

/* pagination sizes */
@utility pagination-sm {
  @layer base {
    --pagination-height: 1.5rem;
    --pagination-padding-x: --spacing(0.5);
    --pagination-padding-y: --spacing(0.5);

    .page-link {
      @apply min-w-6;
    }
  }
}
@utility pagination-lg {
  @layer base {
    --pagination-height: 2.5rem;
    --pagination-padding-x: --spacing(2.5);
    --pagination-padding-y: --spacing(2.5);

    .page-link {
      @apply min-w-10;
    }
  }
}

/* circle variant */
@utility pagination-circle {
  @layer base {
    --pagination-radius: calc(infinity * 1px);
  }
}

/* filled variant */
@utility pagination-primary {
  @layer base {
    --pagination-active-bg: var(--color-primary);
  }
}
@utility pagination-secondary {
  @layer base {
    --pagination-active-bg: var(--color-secondary);
  }
}
@utility pagination-danger {
  @layer base {
    --pagination-active-bg: var(--color-danger);
  }
}
@utility pagination-warning {
  @layer base {
    --pagination-active-bg: var(--color-warning);
  }
}
@utility pagination-success {
  @layer base {
    --pagination-active-bg: var(--color-success);
  }
}
@utility pagination-info {
  @layer base {
    --pagination-active-bg: var(--color-info);
  }
}
@utility pagination-neutral {
  @layer base {
    --pagination-active-bg: var(--color-dark);
  }
}

/* subtle variant */
@utility pagination-subtle-primary {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-primary) / 15%);
    --pagination-active-color: var(--color-primary-dark);
  }
}
@utility pagination-subtle-secondary {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-secondary) / 15%);
    --pagination-active-color: var(--color-secondary-dark);
  }
}
@utility pagination-subtle-info {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-info) / 15%);
    --pagination-active-color: var(--color-info-dark);
  }
}
@utility pagination-subtle-success {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-success) / 15%);
    --pagination-active-color: var(--color-success-dark);
  }
}
@utility pagination-subtle-warning {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-warning) / 15%);
    --pagination-active-color: var(--color-warning-dark);
  }
}
@utility pagination-subtle-danger {
  @layer base {
    --pagination-active-bg: --alpha(var(--color-danger) / 15%);
    --pagination-active-color: var(--color-danger-dark);
  }
}
@utility pagination-subtle-neutral {
  @layer base {
    --pagination-active-bg: var(--background-color-muted);
    --pagination-active-color: var(--text-color-emphasis);
  }
}

/* outlined variant */
@utility pagination-outlined-primary {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-primary);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-secondary {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-secondary);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-danger {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-danger);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-warning {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-warning);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-success {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-success);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-info {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-info);
    --pagination-border-color: var(--background-color-emphasis);
  }
}
@utility pagination-outlined-neutral {
  @layer base {
    --pagination-active-color: var(--color-white);
    --pagination-active-bg: var(--color-dark);
    --pagination-border-color: var(--background-color-emphasis);
  }
}

/* table pagination */
@utility pagination-info {
  @layer base {
    @apply text-xs text-[var(--text-color-muted)] font-light;
    & > p {
      @apply mb-0;
    }
  }
}
@utility pagination-count {
  @layer base {
    @apply font-semibold;
  }
}
@utility pagination-link {
  @layer base {
    @apply ml-1 text-[var(--color-primary)] font-semibold no-underline;

    &:hover {
      @apply text-[var(--color-primary)] underline;
    }
  }
}
