<div class="px-6 py-12 max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
  <!-- card 1 -->
  <div class="card p-6 border border-light overflow-hidden rounded-xl">
    <div class="flex items-center justify-between w-full mb-3">
      <p class="truncate text-sm font-medium text-subtle mb-0">Total Users</p>
      <span class="badge badge-subtle-success">+12%</span>
    </div>
    <span class="flex items-baseline text-2xl font-semibold text-default">
      71,897
      <span class="ms-2 text-sm font-medium text-subtle">from 64k</span>
    </span>
  </div>

  <!-- card 2 -->
  <div class="card p-6 border border-light overflow-hidden rounded-xl">
    <div class="flex items-center justify-between w-full mb-3">
      <p class="truncate text-sm font-medium text-subtle mb-0">Avg. Session Time</p>
      <span class="badge badge-subtle-success">+2.1%</span>
    </div>
    <span class="text-2xl font-semibold text-default">
      4m 32s
    </span>
  </div>

  <!-- card 3 -->
  <div class="card p-6 border border-light overflow-hidden rounded-xl">
    <div class="flex items-center justify-between w-full mb-3">
      <p class="truncate text-sm font-medium text-subtle mb-0">Bounce Rate</p>
      <span class="badge badge-subtle-danger">-4.3%</span>
    </div>
    <span class="text-2xl font-semibold text-default">
      24.57%
    </span>
  </div>

  <!-- card 4 -->
  <div class="card p-6 border border-light overflow-hidden rounded-xl">
    <div class="flex items-center justify-between w-full mb-3">
      <p class="truncate text-sm font-medium text-subtle mb-0">Total Revenue</p>
      <span class="badge badge-subtle-success">+18%</span>
    </div>
    <span class="text-2xl font-semibold text-default">
      $42.1k
    </span>
  </div>
</div>