<section class="px-6 py-20 mx-auto max-w-7xl">
  <h1 class="text-3xl sm:text-4xl mb-4">Meet our specialists</h1>
  <p class="text-muted sm:text-lg max-w-2xl mb-12">Our team is composed of industry veterans and creative thinkers dedicated to solving complex problems with elegant solutions.</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div class="group relative overflow-hidden aspect-4/5">
      <img src="https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Jordan Smith" class="absolute size-full object-cover grayscale transition-transform duration-700 group-hover:scale-110 group-hover:grayscale-0">
      <div class="absolute bottom-0 p-8 size-full flex flex-col bg-linear-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <p class="text-white text-xs font-medium mb-2 mt-auto">Creative Director</p>
        <h3 class="text-2xl font-bold text-white mb-4">Jordan Smith</h3>
        <div class="flex gap-4">
          <a href="#" class="text-white hover:text-primary text-sm">LinkedIn</a>
          <a href="#" class="text-white hover:text-primary text-sm">Twitter</a>
        </div>
      </div>
    </div>

    <div class="group relative overflow-hidden aspect-4/5">
      <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Jordan Smith" class="absolute size-full object-cover grayscale transition-transform duration-700 group-hover:scale-110 group-hover:grayscale-0">
      <div class="absolute bottom-0 p-8 size-full flex flex-col bg-linear-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <p class="text-white text-xs font-medium mb-2 mt-auto">Lead Developer</p>
        <h3 class="text-2xl font-bold text-white mb-4">Anya Taylor</h3>
        <div class="flex gap-4">
          <a href="#" class="text-white hover:text-primary text-sm">Github</a>
          <a href="#" class="text-white hover:text-primary text-sm">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="group relative overflow-hidden aspect-4/5">
      <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?auto=format&fit=crop&q=80&w=600" alt="Jordan Smith" class="absolute size-full object-cover grayscale transition-transform duration-700 group-hover:scale-110 group-hover:grayscale-0">
      <div class="absolute bottom-0 p-8 size-full flex flex-col bg-linear-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <p class="text-white text-xs font-medium mb-2 mt-auto">Product Manager</p>
        <h3 class="text-2xl font-bold text-white mb-4">David Vose</h3>
        <div class="flex gap-4">
          <a href="#" class="text-white hover:text-primary text-sm">LinkedIn</a>
          <a href="#" class="text-white hover:text-primary text-sm">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</section>
