<section class="px-6 py-20 mx-auto max-w-7xl">
  <h3 class="text-base font-semibold text-primary mb-3">Our people</h3>
  <h1 class="text-3xl sm:text-4xl mb-4">Built by a team of experts</h1>
  <p class="text-muted sm:text-lg mb-12">We believe that great software is built by diverse teams who are passionate about their craft.</p>

  <div class="grid grid-cols-2 gap-x-6 gap-y-12 sm:grid-cols-3 lg:grid-cols-4 lg:gap-x-8">
    <div>
      <img class="aspect-square object-cover rounded-2xl mb-6" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?q=80&w=1170" alt="Lindsay Walton">
      <h3 class="text-base font-semibold">Lindsay Walton</h3>
      <p class="text-sm text-muted">Front-end Developer</p>
    </div>

    <div>
      <img class="aspect-square object-cover rounded-2xl mb-6" src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lindsay Walton">
      <h3 class="text-base font-semibold">Courtney Henry</h3>
      <p class="text-sm text-muted">Designer</p>
    </div>

    <div>
      <img class="aspect-square object-cover rounded-2xl mb-6" src="https://images.unsplash.com/photo-1546820389-44d77e1f3b31?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lindsay Walton">
      <h3 class="text-base font-semibold">Tom Cook</h3>
      <p class="text-sm text-muted">Director of Product</p>
    </div>

    <div>
      <img class="aspect-square object-cover rounded-2xl mb-6" src="https://images.unsplash.com/photo-1563584316028-2b70b3a3a8bf?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lindsay Walton">
      <h3 class="text-base font-semibold">Leonard Krasner</h3>
      <p class="text-sm text-muted">Senior Designer</p>
    </div>
  </div>
</section>
