---
import { features } from 'apps/data/landing/features.astro';
import SectionWrapper from '../common/SectionWrapper.astro';
import SectionHeader from '../common/SectionHeader.astro';
import FeatureCard from './FeatureCard.astro';
import gridLeftL from '@assets/images/landing/grids/grid-left-l.png';
import gridLeftD from '@assets/images/landing/grids/grid-left-d.png';
---

<div class="relative">
  <div class="absolute w-240 top-30 -left-105 -z-10">
    <img src={gridLeftD.src} class="hidden dark:block object-contain" />
    <img src={gridLeftL.src} class="dark:hidden object-contain" />
  </div>

  <SectionWrapper id="features">
    <SectionHeader
      title="Every detail, considered."
      subtitle="We built the UI system we always wanted - one that prioritizes clean code, a minimal footprint, and a developer experience that's a joy, not a chore."
    />

    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 max-w-76 sm:max-w-180 lg:max-w-238 mx-auto">
      {features.map((item) => <FeatureCard feature={item} />)}
    </div>
  </SectionWrapper>
</div>
