<div class="px-6 py-20 mx-auto max-w-7xl grid lg:grid-cols-2 gap-12 items-center bg-default">
  <!-- left content -->
  <div>
    <h2 class="mb-6 text-4xl sm:text-5xl font-bold tracking-tight text-default">
      Powerful Features for Modern Applications with Seamless Experience
    </h2>

    <p class="mb-10 text-lg text-muted/80 leading-relaxed">
      Build modern applications that deliver a smooth experience and help users move forward with clarity and confidence
      at every step
    </p>

    <!-- feature list -->
    <div class="space-y-6">
      <div class="flex items-start gap-4">
        <div
          class="size-10 rounded-lg bg-muted flex items-center justify-center shrink-0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 22h10"></path><path
                d="M2 17V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z"></path><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 10.5l2 2l4-4"></path>
            </g>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-semibold text-default">Clean and intuitive interface</h3>
          <p class="text-muted/80">Designed to feel natural so users can focus on what matters most</p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <div
          class="size-10 rounded-lg bg-muted flex items-center justify-center shrink-0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m5 2l.19.94a4 4 0 0 0 2.57 2.974L8 6l-.24.086A4 4 0 0 0 5.19 9.06L5 10l-.19-.94a4 4 0 0 0-2.57-2.974L2 6l.24-.086A4 4 0 0 0 4.81 2.94zm3 14l.23 1.276a2 2 0 0 0 1.219 1.501L10 19l-.551.223a2 2 0 0 0-1.22 1.5L8 22l-.23-1.276a2 2 0 0 0-1.219-1.501L6 19l.551-.223a2 2 0 0 0 1.22-1.5zm8-13l.556 2.654a8 8 0 0 0 5.213 5.92L23 12l-1.231.426a8 8 0 0 0-5.213 5.92L16 21l-.556-2.654a8 8 0 0 0-5.213-5.92L9 12l1.231-.426a8 8 0 0 0 5.213-5.92z"
            ></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-semibold text-default">Smooth performance across devices</h3>
          <p class="text-muted/80">Optimized to ensure consistent experience on every screen size</p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <div
          class="size-10 rounded-lg bg-muted flex items-center justify-center shrink-0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 10V7c0-1.103-.897-2-2-2h-3c0-1.654-1.346-3-3-3S8 3.346 8 5H5c-1.103 0-2 .897-2 2v3.881l.659.239C4.461 11.41 5 12.166 5 13s-.539 1.59-1.341 1.88L3 15.119V19c0 1.103.897 2 2 2h3.881l.239-.659C9.41 19.539 10.166 19 11 19s1.59.539 1.88 1.341l.239.659H17c1.103 0 2-.897 2-2v-3c1.654 0 3-1.346 3-3s-1.346-3-3-3m0 4h-2l-.003 5h-2.545c-.711-1.22-2.022-2-3.452-2s-2.741.78-3.452 2H5v-2.548C6.22 15.741 7 14.43 7 13s-.78-2.741-2-3.452V7h5V5a1 1 0 0 1 2 0v2h5v5h2a1 1 0 0 1 0 2"
            ></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-semibold text-default">Flexible structure for real projects</h3>
          <p class="text-muted/80">Built to adapt easily as your product grows over time</p>
        </div>
      </div>
    </div>
  </div>

  <!-- right content -->
  <img
    class="h-100 lg:h-150 w-full object-cover rounded-xl shadow-sm"
    src="https://images.unsplash.com/photo-1560461396-ec0ef7bb29dd?q=80&w=928&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="feature2_image"
  />
</div>
