<div class="px-6 py-20 max-w-7xl mx-auto">
  <div class="max-w-3xl text-center mx-auto mb-16">
    <h2 class="text-4xl sm:text-5xl mb-6">
      A better way to design & build <span class="text-primary">digital experiences</span>
    </h2>
    <p class="text-base text-muted max-w-xl mx-auto">
      Create applications that feel intuitive and guide users through every step with clarity, purpose, and surgical precision.
    </p>
  </div>

  <div class="flex flex-col lg:flex-row gap-6">
    <div class="flex-1 card rounded-2xl p-6 sm:p-8 border-light group">
      <h3 class="text-default text-2xl mb-4">Experience that feels natural</h3>
      <p class="text-base mb-6">
        Every detail is crafted to help users move forward without friction. We focus on the tiny interactions that make a product feel "right."
      </p>

      <div class="h-80 rounded-xl overflow-hidden">
        <img
          class="size-full object-cover transition duration-700 ease-out group-hover:scale-105 group-hover:rotate-1"
          src="https://images.unsplash.com/photo-1594823274242-19036bf455e9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="User Experience Design"
        />
      </div>
    </div>

    <div class="flex-1 flex flex-col gap-4">
      <div class="card p-6 sm:flex-row gap-4 rounded-2xl border-light grow">
        <div class="flex items-center justify-center size-10 rounded-lg bg-primary-lighter text-primary shrink-0">
          <svg class="size-4.5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_36849_49075)">
              <path d="M9.61991 1.63527C9.42449 1.54613 9.2122 1.5 8.99741 1.5C8.78262 1.5 8.57033 1.54613 8.37491 1.63527L1.94741 4.56027C1.81432 4.61895 1.70117 4.71507 1.62173 4.83691C1.54229 4.95875 1.5 5.10107 1.5 5.24652C1.5 5.39197 1.54229 5.53428 1.62173 5.65613C1.70117 5.77797 1.81432 5.87408 1.94741 5.93277L8.38241 8.86527C8.57783 8.95441 8.79012 9.00054 9.00491 9.00054C9.2197 9.00054 9.43199 8.95441 9.62741 8.86527L16.0624 5.94027C16.1955 5.88158 16.3087 5.78547 16.3881 5.66363C16.4675 5.54178 16.5098 5.39947 16.5098 5.25402C16.5098 5.10857 16.4675 4.96625 16.3881 4.84441C16.3087 4.72257 16.1955 4.62645 16.0624 4.56777L9.61991 1.63527Z" stroke="#0074E6" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.5 9C1.49965 9.14345 1.54044 9.28399 1.61754 9.40496C1.69464 9.52593 1.80482 9.62225 1.935 9.6825L8.385 12.615C8.5794 12.703 8.79035 12.7486 9.00375 12.7486C9.21715 12.7486 9.4281 12.703 9.6225 12.615L16.0575 9.69C16.1903 9.63033 16.3028 9.53332 16.3814 9.4108C16.4599 9.28828 16.5012 9.14555 16.5 9" stroke="#0074E6" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.5 12.75C1.49965 12.8935 1.54044 13.034 1.61754 13.155C1.69464 13.2759 1.80482 13.3723 1.935 13.4325L8.385 16.365C8.5794 16.453 8.79035 16.4986 9.00375 16.4986C9.21715 16.4986 9.4281 16.453 9.6225 16.365L16.0575 13.44C16.1903 13.3803 16.3028 13.2833 16.3814 13.1608C16.4599 13.0383 16.5012 12.8955 16.5 12.75" stroke="#0074E6" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clipPath id="clip0_36849_49075">
              <rect width="18" height="18" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <div>
          <h3 class="text-default text-lg font-semibold mb-2">Clear visual hierarchy</h3>
          <p class="text-base">Present information in a way that feels structured and easy to follow, reducing cognitive load.</p>
        </div>
      </div>
    
      <div class="card p-6 sm:flex-row gap-4 rounded-2xl border-light grow">
        <div class="flex items-center justify-center size-10 rounded-lg bg-secondary-lighter text-secondary shrink-0">
          <svg class="size-4.5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.75 1.5H5.25C4.42157 1.5 3.75 2.17157 3.75 3V15C3.75 15.8284 4.42157 16.5 5.25 16.5H12.75C13.5784 16.5 14.25 15.8284 14.25 15V3C14.25 2.17157 13.5784 1.5 12.75 1.5Z" stroke="#68279D" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 13.5H9.0075" stroke="#68279D" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div>
          <h3 class="text-default text-lg font-semibold mb-2">Responsive interaction design</h3>
          <p class="text-base">Ensure every interaction feels smooth across different devices, from mobile gestures to desktop hovers.</p>
        </div>
      </div>

      <div class="card p-6 sm:flex-row gap-4 rounded-2xl border-light grow">
        <div class="flex items-center justify-center size-10 rounded-lg bg-success-lighter text-success shrink-0">
          <svg class="size-4.5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 2.25H11.25C10.8358 2.25 10.5 2.58579 10.5 3V6.75C10.5 7.16421 10.8358 7.5 11.25 7.5H15C15.4142 7.5 15.75 7.16421 15.75 6.75V3C15.75 2.58579 15.4142 2.25 15 2.25Z" stroke="#026A44" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 15.75V6C7.5 5.80109 7.42098 5.61032 7.28033 5.46967C7.13968 5.32902 6.94891 5.25 6.75 5.25H3C2.80109 5.25 2.61032 5.32902 2.46967 5.46967C2.32902 5.61032 2.25 5.80109 2.25 6V15C2.25 15.1989 2.32902 15.3897 2.46967 15.5303C2.61032 15.671 2.80109 15.75 3 15.75H12C12.1989 15.75 12.3897 15.671 12.5303 15.5303C12.671 15.3897 12.75 15.1989 12.75 15V11.25C12.75 11.0511 12.671 10.8603 12.5303 10.7197C12.3897 10.579 12.1989 10.5 12 10.5H2.25" stroke="#026A44" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div>
          <h3 class="text-default text-lg font-semibold mb-2">Flexible structure for growth</h3>
          <p class="text-base">A modular architecture that adapts as your product scales and your user base expands.</p>
        </div>
      </div>
    </div>
  </div>
</div>