<div class="lg:grid lg:grid-cols-[15rem_1fr] h-full">
  <div
    class="offcanvas-lg offcanvas-start border-e border-light w-60 lg:sticky top-0 h-screen"
    tabindex="-1"
    id="offcanvasLayout1"
    aria-labelledby="offcanvasLayout1Label"
    data-bs-scroll="true"
  >
    <div class="offcanvas-header px-5 py-0 border-b border-light h-15 flex items-center">
      <a class="flex items-center gap-2 no-underline" href="#">
        <img
          src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
          alt="Logo"
          class="w-8 h-8"
        />
        <h6 class="mb-0 text-muted font-semibold flex">hummingbird</h6>
      </a>
    </div>
    <div class="offcanvas-body block p-5 h-[calc(100%-60px)] overflow-y-auto">
      <div class="w-full">
        <h2 class="text-xs mb-2 text-subtle uppercase">Dashboards</h2>
        <div class="list-group w-full bg-transparent gap-0.5">
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2 active">
            <span>E-commerce</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>Project Management</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>CRM</span>
          </a>
        </div>
      </div>
      <div class="w-full">
        <h2 class="text-xs mb-2 text-subtle uppercase mt-6">Pages</h2>
        <div class="list-group w-full bg-transparent gap-0.5">
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>Social Feed</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>Profile</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>Chat</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action rounded-lg text-sm py-2">
            <span>File Manager</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-15 h-full flex-1">
    <nav
      class="navbar bg-default fixed top-0 w-full lg:w-[calc(100%-15rem)] border-b border-light px-6 justify-start h-15"
    >
      <button
        class="btn btn-text-neutral btn-square btn-sm lg:hidden"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasLayout1"
        aria-controls="offcanvasLayout1"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            ><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M9 3v18"></path></g
          ></svg
        >
      </button>
      <nav aria-label="breadcrumb" class="ms-5 lg:ms-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="link link-hover">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">E-commerce</li>
        </ol>
      </nav>
      <div class="dropdown ms-auto">
        <button class="avatar avatar-sm" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/refs/heads/main/apps/docs/public/images/avatar/avatar_1.webp"
            alt="Avatar"
            class="rounded-full"
          />
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </nav>
    <div class="p-6 flex flex-col h-full">
      <div class="grid grid-cols-3 gap-4 md:gap-6">
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
      </div>
      <div class="bg-muted/50 rounded-lg mt-4 md:mt-6 flex-1"></div>
    </div>
  </div>
</div>
