<nav
  class="navbar navbar-expand-lg bg-default fixed top-0 w-full border-b border-light px-6 justify-between flex z-1035"
>
  <div class="flex items-center">
    <button
      class="btn btn-icon navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarBlockLayout5"
      aria-controls="navbarBlockLayout5"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
    <a class="navbar-brand flex items-center gap-2" href="#">
      <img
        src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/c2a66a70db897fd0d89ea72e7cbab1d3c06a93e2/apps/docs/src/assets/images/logos/hb-logo1.svg"
        alt="Logo"
        class="w-8 h-8"
      />
      <h6 class="mb-0 text-muted font-semibold flex">hummingbird</h6>
    </a>
  </div>
  <div class="flex gap-2 lg:order-1">
    <button class="btn btn-circle btn-subtle-neutral size-8 text-muted">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
          stroke-width="0.5"
          stroke="currentColor"></path></svg
      >
    </button>
    <div class="dropdown">
      <button class="avatar avatar-sm" data-bs-toggle="dropdown" aria-expanded="false"
        ><img
          src="https://raw.githubusercontent.com/hummingbirdui/hummingbird/refs/heads/main/apps/docs/public/images/avatar/avatar_1.webp"
          alt="Avatar"
          class="rounded-full"
        /></button
      >
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="collapse navbar-collapse grow-0" id="navbarBlockLayout5">
    <ul class="navbar-nav mb-2 lg:mb-0">
      <li class="nav-item dropdown">
        <button
          type="button"
          class="nav-link flex items-center gap-1 text-sm"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dashboard
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m17 10l-5 5l-5-5"></path></svg
          >
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">E-commerce</a></li>
          <li><a class="dropdown-item" href="#">Project Management</a></li>
          <li><a class="dropdown-item" href="#">CRM</a></li>
          <li><a class="dropdown-item" href="#">Travel Agency</a></li>
          <li><a class="dropdown-item" href="#">Stock</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button
          type="button"
          class="nav-link flex items-center gap-1 text-sm"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-auto-close="outside"
        >
          Apps
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m17 10l-5 5l-5-5"></path></svg
          >
        </button>
        <ul class="dropdown-menu">
          <div class="dropend">
            <li>
              <button
                class="dropdown-item flex justify-between items-center"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                E-commerce
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M9.29 6.71a.996.996 0 0 0 0 1.41L13.17 12l-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01"
                    stroke-width="0.5"
                    stroke="currentColor"></path></svg
                >
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add Product</a></li>
                <li><a class="dropdown-item" href="#">products</a></li>
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Product Details</a></li>
                <li><a class="dropdown-item" href="#">Inventory</a></li>
              </ul>
            </li>
          </div>
          <div class="dropend">
            <li>
              <button
                class="dropdown-item flex justify-between items-center"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Email
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M9.29 6.71a.996.996 0 0 0 0 1.41L13.17 12l-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01"
                    stroke-width="0.5"
                    stroke="currentColor"></path></svg
                >
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Inbox</a></li>
                <li><a class="dropdown-item" href="#">Email Details</a></li>
                <li><a class="dropdown-item" href="#">Compose</a></li>
              </ul>
            </li>
          </div>
          <div class="dropend">
            <li>
              <button
                class="dropdown-item flex justify-between items-center"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                File Manager
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M9.29 6.71a.996.996 0 0 0 0 1.41L13.17 12l-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01"
                    stroke-width="0.5"
                    stroke="currentColor"></path></svg
                >
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Grid View</a></li>
                <li><a class="dropdown-item" href="#">List View</a></li>
                <li><a class="dropdown-item" href="#">Upload</a></li>
              </ul>
            </li>
          </div>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button
          type="button"
          class="nav-link flex items-center gap-1 text-sm"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Documentation
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m17 10l-5 5l-5-5"></path></svg
          >
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Getting Started</a></li>
          <li><a class="dropdown-item" href="#">Installation</a></li>
          <li><a class="dropdown-item" href="#">Configuration</a></li>
          <li><a class="dropdown-item" href="#">Framework Guide</a></li>
          <li><a class="dropdown-item" href="#">API Reference</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="h-full mt-15">
  <div class="h-full flex-1">
    <div class="p-6 flex flex-col h-full">
      <div class="grid grid-cols-3 gap-4 md:gap-6">
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
        <div class="bg-muted/50 aspect-video rounded-lg"></div>
      </div>
      <div class="bg-muted/50 rounded-lg mt-4 md:mt-6 flex-1"></div>
    </div>
  </div>
</div>
