---
import Image from 'astro/components/Image.astro';
import { components } from '../data/components';
---

<section class="pt-35 pb-20 mx-auto max-w-[1400px] flex items-center justify-between">
  <div class="max-w-[500px]">
    <h1 class="mb-4 text-[42px] font-medium tracking-tighter">Production-ready UIs,<br />out of the box</h1>
    <p class="mb-8 text-highlight">
      Hummingbird provides production-ready components. Filter by category or use-case to find what you need.
    </p>
    <a href="/docs/components/buttons" type="button" class="btn btn-subtle-primary">Browse components</a>
  </div>

  <div class="grid grid-cols-3 gap-4">
    {
      components.map((item) => (
        <a
          href={item.url}
          class="card card-action w-[260px] h-[240px] bg-default rounded-2xl overflow-hidden hover:border-primary"
        >
          <Image src={item.image} alt="Logo" class="object-cover" />
          <div class="card-body px-4 py-2">
            <h6 class="card-title mb-0.5 text-base font-semibold">{item.name}</h6>
            <p>{item.count} components</p>
          </div>
        </a>
      ))
    }
  </div>
</section>
