@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@import '../src/index.css';
@import '../src/plugins/plugins.css';
@custom-variant dark (&:where(.dark, .dark *), .dark);
@custom-variant active (&:active, &.active);

@theme {
  --container-8xl: 95rem;
  --navbar-height: --spacing(20.5);
  --anchor-header-offset: 7.5rem;
}

:root[data-os='windows'] ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
:root[data-os='windows'] ::-webkit-scrollbar-track {
  background: var(--color-gray-100);
}
:root[data-os='windows'] ::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-400);
  border-radius: 9999px;
}

:root[data-os='windows'].dark ::-webkit-scrollbar-track {
  background: var(--color-gray-800);
}
:root[data-os='windows'].dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-600);
}

:root[data-os='windows'] ::-webkit-scrollbar-corner {
  background: transparent;
}

.disable-transition *,
.disable-transition *::before,
.disable-transition *::after {
  transition: none !important;
  animation: none !important;
}

.astro-code::-webkit-scrollbar-track {
  background: transparent !important;
}

.docs-sidebar {
  ~ .offcanvas-backdrop {
    @apply z-8;
  }
}
.docs-content {
  :where(h2, h3, h4, h5, h6)[id] {
    @apply scroll-mt-[var(--anchor-header-offset)] font-medium;
  }
  > h2 {
    @apply text-2xl;
  }
  > h2:not(:first-child) {
    @apply mt-12;
  }
  > h2 {
    &:has(+ :not(p)) {
      @apply mb-4;
    }
  }
  > h3 {
    @apply mt-8 text-xl;
    &:has(+ :not(p)) {
      @apply mb-4;
    }
  }
  > h4 {
    @apply mt-7 text-lg;
    &:has(+ :not(p)) {
      @apply mb-4;
    }
  }
  > ol,
  > ul {
    @apply ps-4;
  }

  .heading-anchor {
    @apply opacity-0 transition-opacity duration-200;
    &::after {
      @apply relative top-1 left-1;
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMxRTkwRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtOS4xNzIgMTQuODI5bDUuNjU3LTUuNjU3TTcuMDUgMTEuMjkzbC0xLjQxNCAxLjQxNGE0IDQgMCAxIDAgNS42NTcgNS42NTdsMS40MTItMS40MTRtLTEuNDEzLTkuOWwxLjQxNC0xLjQxNGE0IDQgMCAxIDEgNS42NTcgNS42NTdsLTEuNDE0IDEuNDE0Ii8+PC9zdmc+);
    }

    &:focus,
    &:hover,
    :hover > &,
    :target > & {
      @apply opacity-100;
    }
  }
}

.bg-stripes {
  @apply border-x text-black/10 dark:text-white/12.5 bg-[size:8px_8px] bg-top-left bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,transparent_0,transparent_50%)];
}

.dark {
  .astro-code,
  .astro-code span {
    @apply text-[var(--shiki-dark)]! font-[var(--shiki-dark-font-weight)]!;
    font-style: var(--shiki-dark-font-style) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.astro-code {
  @apply overflow-auto !bg-muted text-sm p-4 rounded-lg;
  .shiki {
    @apply !bg-transparent;
  }
}

.custom-tooltip {
  --tooltip-bg: var(--color-info);
  --tooltip-color: var(--color-contrast);
}
.custom-popover {
  --popover-max-width: 15rem;
  --popover-border-color: var(--color-info);
  --popover-header-bg: var(--color-info);
  --popover-header-color: var(--color-contrast);
  --popover-body-padding-x: --spacing(4);
  --popover-body-padding-y: --spacing(3);
}

.cm-editor {
  @apply h-full text-sm bg-transparent;
}

.cm-editor .cm-gutters {
  @apply hidden;
}

.cm-activeLine {
  @apply !bg-transparent;
}

.dz-default {
  @apply !m-0 flex items-center;
}

.hero-slide {
  @apply -ml-17 2xl:ml-0 transform scale-80 2xl:scale-100;
}

.table-tooltip {
  @apply capitalize;
}

/* Search */
.DocSearch {
  --docsearch-key-shadow: none;
  --docsearch-container-background: --alpha(var(--color-gray-950) / 20%);
  --docsearch-modal-background: var(--background-color-default);
  --docsearch-modal-shadow: none;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--background-color-default);
  --docsearch-spacing: --spacing(4);
  --docsearch-searchbox-focus-background: var(--color-primary-lighter);
  --docsearch-footer-background: var(--background-color-default);
  --docsearch-footer-shadow: none;
  --docsearch-footer-height: --spacing(12);
  --docsearch-text-color: var(--text-color-default);
  --docsearch-hit-color: var(--text-color-muted);
}

.DocSearch-Container {
  @apply z-2000!;
}

.DocSearch.DocSearch-Button {
  @apply ml-2 sm:ml-8 2xl:ml-15 w-[37px] lg:w-70 h-[37px] bg-muted lg:px-4 lg:rounded-lg hover:shadow-none focus:shadow-none hover:bg-highlight;
}
.DocSearch-Button-Placeholder {
  @apply text-sm! font-normal! text-muted hidden lg:block;
}
.DocSearch-Search-Icon {
  @apply !w-5 !h-5 lg:!mr-1 text-transparent!;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23505763' d='M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}
.dark .DocSearch-Search-Icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23a4abb9' d='M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}
.DocSearch-Button-Keys {
  @apply items-center! min-w-0! gap-0.5 hidden! lg:flex!;
}
.DocSearch-Button-Key {
  @apply bg-none! shadow-none! top-0! size-auto! text-muted! mr-0.5! text-sm! font-sans!;
}
:root[data-os='windows'] {
  .DocSearch-Button-Key {
    @apply text-xs!;
    &:first-child {
      &::after {
        @apply content-['CTRL'];
      }
      > svg {
        @apply hidden;
      }
    }
  }
}
.DocSearch-Modal {
  @apply rounded-lg! max-md:max-w-[calc(100%-48px)]! max-md:max-h-[calc(100vh-48px)]! mx-auto! mt-6!;
  @variant dark {
    @apply border border-base;
  }
}
.DocSearch-Cancel {
  @apply hidden!;
}
.DocSearch-SearchBar {
  @apply p-0!;
}
.DocSearch-Form {
  @apply rounded-lg! rounded-b-none! ring-1! ring-primary!;
}
.DocSearch-Input {
  @apply text-base!;
}
.DocSearch-Dropdown {
  @apply mt-1;
}
.DocSearch-Hit-source {
  @apply text-subtle!;
}
.DocSearch-Footer {
  @apply border-t border-light max-md:rounded-b-lg!;
}
.DocSearch-Commands {
  @apply hidden!;
}
.DocSearch-Hit-icon {
  @apply hidden;
}
.DocSearch-Hit-title {
  --docsearch-hit-active-color: var(--text-color-default);
}
.DocSearch-Hit-path {
  --docsearch-hit-active-color: var(--text-color-subtle);
  --docsearch-muted-color: var(--text-color-subtle);
}
.DocSearch-Hit-action-button {
  @apply text-subtle! hover:bg-highlight!;
}
.DocSearch-Hit[aria-selected='true'] a {
  @apply bg-subtle!;
}
.DocSearch-Hit-Container {
  @apply text-default;
}
.DocSearch-Hit-Tree {
  --docsearch-hit-active-color: var(--text-color-subtle);
  --docsearch-muted-color: var(--text-color-subtle);
  @apply text-subtle!;
}
.DocSearch-Hits mark {
  --docsearch-hit-active-color: var(--color-primary);
  --docsearch-highlight-color: var(--color-primary);
}

.example-row [class*='col'],
.example-cols [class^='col'] > * {
  @apply p-3 bg-info-lighter border border-info-light;
}
.example-row-cols [class^='col'] {
  @apply p-3 bg-info-lighter border border-info-light;
}

.example-row .row + .row {
  @apply mt-4;
}

.example-row-flex-cols .row {
  @apply min-h-40 bg-info-lighter;
}

#u_column_1 {
  @apply border-0! bg-transparent!;
  > div {
    @apply p-0!;
  }
}
.u_row {
  .container {
    @apply max-w-full!;
  }
}
.u_content_form {
  @apply p-0!;
  form {
    @apply flex! gap-2;
    .sc-epnzzT {
      @apply w-full!;
      > div {
        @apply p-0!;
        > div {
          @apply p-0!;
        }
      }
      input {
        @apply h-9.25! rounded-lg! border-transparent! bg-muted! text-sm! font-sans! hover:bg-highlight! focus:bg-primary-lighter! text-default! focus:shadow-none! focus:border-primary!;
        &::placeholder {
          @apply text-muted!;
        }
      }
    }
    &:last-child {
      @apply text-nowrap;

      button {
        @layer base {
          @apply w-full! mt-0! h-9.25! rounded-lg! py-2.25! bg-primary/15! hover:bg-primary/20! text-primary-dark! font-semibold! text-sm! font-sans!;
        }
      }
    }
  }
  .success {
    @apply border-transparent! bg-success-lighter! text-success-darker! px-4! py-3.5 font-sans! font-medium text-base!;
  }
}
.powered-by {
  @apply hidden!;
}
