---
interface Props {
  title: string;
  subtitle: string;
  class?: string;
}

const { title, subtitle, class: className = '' } = Astro.props;
---

<div class={`mx-auto mb-10 max-w-[600px] text-center ${className}`}>
  <h1 class="mb-4 text-[42px] font-medium">{title}</h1>
  <p class="text-gray-600 text-base leading-[1.2]">{subtitle}</p>
</div>
