---
import Layout from '@layouts/Layout.astro';
import BlockPreview from '@components/blocks/BlockPreview.astro';
import Hero1 from './blocks/_hero1.astro';
import Hero2 from './blocks/_hero2.astro';
import Hero3 from './blocks/_hero3.astro';
import Hero4 from './blocks/_hero4.astro';
import Hero5 from './blocks/_hero5.astro';
---

<Layout>
  <div class="px-5">
    <div class="max-w-7xl mx-auto my-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" class="link link-hover">Home</a></li>
          <li class="breadcrumb-item"><a href="/blocks" class="link link-hover">Blocks</a></li>
          <li class="breadcrumb-item active" aria-current="page">Hero Sections</li>
        </ol>
      </nav>
      <h3 class="mb-4 mt-8">Hero Sections</h3>
      <p class="text-lg">
        Use these Tailwind CSS hero section examples to add important messaging, product photos, and call-to-actions to
        the top of your website. These hero examples are designed and built by the Tailwind CSS team, and include a
        variety of different styles and layouts.
      </p>
      <BlockPreview title="Default Hero Section" className="min-h-206">
        <Hero1 />
      </BlockPreview>
      <BlockPreview title="Split with image" className="min-h-206">
        <Hero2 />
      </BlockPreview>
      <BlockPreview title="Split with image" className="min-h-251">
        <Hero3 />
      </BlockPreview>
      <BlockPreview title="Split with image" className="min-h-206">
        <Hero4 />
      </BlockPreview>
      <BlockPreview title="Split with image" className="min-h-174">
        <Hero5 />
      </BlockPreview>
    </div>
  </div>
</Layout>
