---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="container max-w-7xl mx-auto my-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="link link-hover">Home</a></li>
        <li class="breadcrumb-item"><a href="#" class="link link-hover">Components</a></li>
        <li class="breadcrumb-item active" aria-current="page">Breadcrumb</li>
      </ol>
    </nav>
    <h3 class="mb-4 mt-8">Hero Sections</h3>
    <p class="text-lg">Use these Tailwind CSS hero section examples to add important messaging, product photos, and call-to-actions to the top of your website. These hero examples are designed and built by the Tailwind CSS team, and include a variety of different styles and layouts.</p>

    <h4>Default hero section</h4>
    <p>Use this default example with an announcement badge, heading, CTA buttons, and customer logos to showcase what your website offers.</p>
  </div>
</Layout>