---
import type { StyleSystem } from 'apps/data/landing/global-styles';
import CopyIcon from '@components/icons/CopyIcon.astro';
import Code from 'astro/components/Code.astro';

interface Props {
  style: StyleSystem;
  class?: string;
}

const { style, class: className = '' } = Astro.props;
---

<div class={`p-6 flex flex-col min-h-65 md:min-h-92 border border-base bg-subtle rounded-2xl ${className}`}>
  <h3 class="mb-2 text-[21px] font-semibold">{style.title}</h3>
  <p class="mb-6 text-highlight text-sm">
    {style.description}
  </p>
  <div class="relative flex-1">
    <button class="p-0.5 absolute top-2 right-2 md:top-4 md:right-4">
      <CopyIcon />
    </button>
    <Code
      class="!text-sm overflow-hidden h-full !bg-muted !rounded-lg"
      data-astro-code
      code={style.code}
      themes={{ light: 'github-light', dark: 'github-dark' }}
      lang="css"
    />
  </div>
</div>
