@theme {
  --color-white: oklch(0.977 0.009 214.342);
  --color-black: oklch(0.105 0.005 244.297);

  --color-slate-50: oklch(0.953 0.017 201.388);
  --color-slate-100: oklch(0.907 0.019 209.431);
  --color-slate-200: oklch(0.863 0.018 196.818);
  --color-slate-300: oklch(0.817 0.018 187.8);
  --color-slate-400: oklch(0.729 0.012 182.744);
  --color-slate-500: oklch(0.613 0.011 154.95);
  --color-slate-600: oklch(0.513 0.016 173.654);
  --color-slate-700: oklch(0.393 0.018 191.113);
  --color-slate-800: oklch(0.333 0.019 201.718);
  --color-slate-900: oklch(0.265 0.019 207.103);
  --color-slate-950: oklch(0.233 0.023 200.526);

  --color-teal-50: oklch(0.91 0.026 199.63);
  --color-teal-100: oklch(0.854 0.04 206.483);
  --color-teal-200: oklch(0.76 0.064 206.264);
  --color-teal-300: oklch(0.664 0.084 207.665);
  --color-teal-400: oklch(0.576 0.093 208.291);
  --color-teal-500: oklch(0.534 0.092 210.589);
  --color-teal-600: oklch(0.5 0.086 209.899);
  --color-teal-700: oklch(0.422 0.073 210.803);
  --color-teal-800: oklch(0.343 0.059 208.531);
  --color-teal-900: oklch(0.265 0.045 209.312);
  --color-teal-950: oklch(0.186 0.032 202.189);

  --color-violet-50: oklch(0.903 0.026 295.525);
  --color-violet-100: oklch(0.854 0.04 290.271);
  --color-violet-200: oklch(0.756 0.069 290.388);
  --color-violet-300: oklch(0.654 0.1 288.695);
  --color-violet-400: oklch(0.553 0.13 286.635);
  --color-violet-500: oklch(0.503 0.147 285.02);
  --color-violet-600: oklch(0.468 0.134 285.253);
  --color-violet-700: oklch(0.398 0.112 285.372);
  --color-violet-800: oklch(0.324 0.088 285.782);
  --color-violet-900: oklch(0.255 0.062 286.463);
  --color-violet-950: oklch(0.195 0.042 290.77);

  --color-red-50: oklch(0.884 0.036 17.852);
  --color-red-100: oklch(0.847 0.048 18.144);
  --color-red-200: oklch(0.775 0.075 18.916);
  --color-red-300: oklch(0.688 0.109 20.273);
  --color-red-400: oklch(0.606 0.145 22.353);
  --color-red-500: oklch(0.57 0.16 23.696);
  --color-red-600: oklch(0.529 0.148 23.625);
  --color-red-700: oklch(0.449 0.122 23.359);
  --color-red-800: oklch(0.363 0.095 23.096);
  --color-red-900: oklch(0.281 0.068 22.474);
  --color-red-950: oklch(0.201 0.041 21.336);

  --color-green-50: oklch(0.918 0.023 164.482);
  --color-green-100: oklch(0.856 0.044 162.275);
  --color-green-200: oklch(0.763 0.073 159.797);
  --color-green-300: oklch(0.666 0.101 157.911);
  --color-green-400: oklch(0.743 0.158 154.844);
  --color-green-500: oklch(0.632 0.141 154.52);
  --color-green-600: oklch(0.495 0.122 152.736);
  --color-green-700: oklch(0.419 0.101 153.217);
  --color-green-800: oklch(0.345 0.082 153.391);
  --color-green-900: oklch(0.268 0.058 155.239);
  --color-green-950: oklch(0.184 0.035 156.881);

  --color-brown-50: oklch(0.921 0.02 84.591);
  --color-brown-100: oklch(0.868 0.034 81.973);
  --color-brown-200: oklch(0.779 0.056 80.584);
  --color-brown-300: oklch(0.689 0.08 80.247);
  --color-brown-400: oklch(0.598 0.098 78.761);
  --color-brown-500: oklch(0.553 0.104 76.012);
  --color-brown-600: oklch(0.514 0.096 76.782);
  --color-brown-700: oklch(0.438 0.081 76.192);
  --color-brown-800: oklch(0.355 0.063 77.089);
  --color-brown-900: oklch(0.276 0.045 78.572);
  --color-brown-950: oklch(0.191 0.028 84.517);

  --color-blue-50: oklch(0.897 0.026 239.097);
  --color-blue-100: oklch(0.863 0.035 235.927);
  --color-blue-200: oklch(0.771 0.059 236.745);
  --color-blue-300: oklch(0.68 0.082 237.25);
  --color-blue-400: oklch(0.588 0.105 240.596);
  --color-blue-500: oklch(0.546 0.114 242.124);
  --color-blue-600: oklch(0.507 0.106 242.334);
  --color-blue-700: oklch(0.431 0.087 241.275);
  --color-blue-800: oklch(0.352 0.068 240.807);
  --color-blue-900: oklch(0.273 0.049 240.731);
  --color-blue-950: oklch(0.188 0.029 240.984);

  --color-sky-50: oklch(0.909 0.027 217.155);
  --color-sky-100: oklch(0.875 0.036 219.23);
  --color-sky-200: oklch(0.795 0.059 218.437);
  --color-sky-300: oklch(0.714 0.08 219.138);
  --color-sky-400: oklch(0.636 0.097 221.826);
  --color-sky-500: oklch(0.6 0.103 223.405);
  --color-sky-600: oklch(0.557 0.095 223.485);
  --color-sky-700: oklch(0.47 0.079 223.311);
  --color-sky-800: oklch(0.382 0.062 222.934);
  --color-sky-900: oklch(0.297 0.045 221.309);
  --color-sky-950: oklch(0.201 0.027 222.073);

  --color-purple-50: oklch(0.908 0.028 309.199);
  --color-purple-100: oklch(0.864 0.043 310.046);
  --color-purple-200: oklch(0.773 0.073 309.207);
  --color-purple-300: oklch(0.68 0.105 308.699);
  --color-purple-400: oklch(0.588 0.135 307.963);
  --color-purple-500: oklch(0.544 0.152 307.616);
  --color-purple-600: oklch(0.505 0.138 307.398);
  --color-purple-700: oklch(0.429 0.116 307.662);
  --color-purple-800: oklch(0.348 0.091 307.709);
  --color-purple-900: oklch(0.272 0.065 308.457);
  --color-purple-950: oklch(0.205 0.044 309.344);

  --color-amber-50: oklch(0.925 0.03 83.632);
  --color-amber-100: oklch(0.9 0.039 82.336);
  --color-amber-200: oklch(0.851 0.059 81.391);
  --color-amber-300: oklch(0.791 0.082 81.068);
  --color-amber-400: oklch(0.732 0.103 80.132);
  --color-amber-500: oklch(0.701 0.111 78.718);
  --color-amber-600: oklch(0.652 0.103 79.328);
  --color-amber-700: oklch(0.549 0.085 78.651);
  --color-amber-800: oklch(0.443 0.067 79.595);
  --color-amber-900: oklch(0.34 0.048 79.977);
  --color-amber-950: oklch(0.237 0.029 79.402);

  --color-orange-50: oklch(0.911 0.027 60.349);
  --color-orange-100: oklch(0.882 0.036 59.161);
  --color-orange-200: oklch(0.824 0.055 56.945);
  --color-orange-300: oklch(0.754 0.079 57.166);
  --color-orange-400: oklch(0.684 0.102 55.537);
  --color-orange-500: oklch(0.65 0.114 54.679);
  --color-orange-600: oklch(0.603 0.105 54.721);
  --color-orange-700: oklch(0.51 0.086 54.882);
  --color-orange-800: oklch(0.413 0.067 55.974);
  --color-orange-900: oklch(0.317 0.048 54.723);
  --color-orange-950: oklch(0.224 0.029 56.191);

  --color-yellow-50: oklch(0.931 0.033 91.676);
  --color-yellow-100: oklch(0.909 0.044 92.678);
  --color-yellow-200: oklch(0.865 0.064 91.488);
  --color-yellow-300: oklch(0.811 0.088 91.717);
  --color-yellow-400: oklch(0.758 0.11 91.414);
  --color-yellow-500: oklch(0.732 0.118 90.899);
  --color-yellow-600: oklch(0.679 0.109 90.949);
  --color-yellow-700: oklch(0.584 0.094 96.043);
  --color-yellow-800: oklch(0.462 0.071 91.646);
  --color-yellow-900: oklch(0.352 0.052 91.176);
  --color-yellow-950: oklch(0.245 0.032 91.505);

  --color-emerald-50: oklch(0.919 0.021 173.916);
  --color-emerald-100: oklch(0.857 0.04 171.981);
  --color-emerald-200: oklch(0.766 0.066 169.288);
  --color-emerald-300: oklch(0.67 0.09 167.398);
  --color-emerald-400: oklch(0.58 0.108 164.239);
  --color-emerald-500: oklch(0.538 0.114 161.714);
  --color-emerald-600: oklch(0.499 0.105 161.838);
  --color-emerald-700: oklch(0.422 0.087 162.316);
  --color-emerald-800: oklch(0.348 0.07 162.794);
  --color-emerald-900: oklch(0.27 0.05 164.747);
  --color-emerald-950: oklch(0.185 0.03 167.513);

  --color-olive-50: oklch(0.919 0.035 119.353);
  --color-olive-100: oklch(0.874 0.058 121.574);
  --color-olive-200: oklch(0.791 0.095 122.346);
  --color-olive-300: oklch(0.708 0.129 123.553);
  --color-olive-400: oklch(0.623 0.149 125.833);
  --color-olive-500: oklch(0.584 0.151 127.52);
  --color-olive-600: oklch(0.545 0.14 127.364);
  --color-olive-700: oklch(0.463 0.118 126.876);
  --color-olive-800: oklch(0.373 0.096 126.698);
  --color-olive-900: oklch(0.29 0.072 125.181);
  --color-olive-950: oklch(0.199 0.049 122.467);

  --color-lime-50: oklch(0.939 0.034 123.215);
  --color-lime-100: oklch(0.901 0.061 124.794);
  --color-lime-200: oklch(0.833 0.106 125.934);
  --color-lime-300: oklch(0.761 0.146 127.059);
  --color-lime-400: oklch(0.687 0.172 129.626);
  --color-lime-500: oklch(0.636 0.174 131.656);
  --color-lime-600: oklch(0.571 0.156 131.585);
  --color-lime-700: oklch(0.479 0.128 131.214);
  --color-lime-800: oklch(0.379 0.099 130.776);
  --color-lime-900: oklch(0.283 0.071 129.339);
  --color-lime-950: oklch(0.197 0.046 128.233);

  --color-cyan-50: oklch(0.922 0.029 207.437);
  --color-cyan-100: oklch(0.892 0.038 206.758);
  --color-cyan-200: oklch(0.82 0.064 208.719);
  --color-cyan-300: oklch(0.746 0.086 209.038);
  --color-cyan-400: oklch(0.675 0.102 211.99);
  --color-cyan-500: oklch(0.636 0.105 213.349);
  --color-cyan-600: oklch(0.585 0.095 213.714);
  --color-cyan-700: oklch(0.494 0.08 213.736);
  --color-cyan-800: oklch(0.403 0.064 215.169);
  --color-cyan-900: oklch(0.308 0.046 211.125);
  --color-cyan-950: oklch(0.208 0.027 212.401);

  --color-indigo-50: oklch(0.9 0.026 285.87);
  --color-indigo-100: oklch(0.851 0.04 285.518);
  --color-indigo-200: oklch(0.757 0.067 283.718);
  --color-indigo-300: oklch(0.653 0.099 282.634);
  --color-indigo-400: oklch(0.55 0.13 280.722);
  --color-indigo-500: oklch(0.503 0.15 278.663);
  --color-indigo-600: oklch(0.465 0.141 278.897);
  --color-indigo-700: oklch(0.398 0.121 279.412);
  --color-indigo-800: oklch(0.323 0.092 279.129);
  --color-indigo-900: oklch(0.254 0.063 279.636);
  --color-indigo-950: oklch(0.19 0.042 281.659);

  --color-fuchsia-50: oklch(0.914 0.031 322.595);
  --color-fuchsia-100: oklch(0.872 0.048 321.588);
  --color-fuchsia-200: oklch(0.788 0.081 322.155);
  --color-fuchsia-300: oklch(0.702 0.116 322.036);
  --color-fuchsia-400: oklch(0.62 0.148 322.328);
  --color-fuchsia-500: oklch(0.58 0.165 322.054);
  --color-fuchsia-600: oklch(0.539 0.151 322.366);
  --color-fuchsia-700: oklch(0.457 0.126 322.259);
  --color-fuchsia-800: oklch(0.369 0.099 321.972);
  --color-fuchsia-900: oklch(0.286 0.07 321.562);
  --color-fuchsia-950: oklch(0.214 0.047 321.714);

  --color-pink-50: oklch(0.912 0.024 347.221);
  --color-pink-100: oklch(0.87 0.037 347.152);
  --color-pink-200: oklch(0.786 0.064 347.167);
  --color-pink-300: oklch(0.699 0.094 348.405);
  --color-pink-400: oklch(0.615 0.121 349.944);
  --color-pink-500: oklch(0.576 0.136 350.973);
  --color-pink-600: oklch(0.534 0.124 350.877);
  --color-pink-700: oklch(0.454 0.104 350.376);
  --color-pink-800: oklch(0.367 0.082 350.019);
  --color-pink-900: oklch(0.285 0.058 350.111);
  --color-pink-950: oklch(0.213 0.039 348.259);

  --color-rose-50: oklch(0.912 0.022 356.366);
  --color-rose-100: oklch(0.869 0.035 355.019);
  --color-rose-200: oklch(0.783 0.06 356.698);
  --color-rose-300: oklch(0.696 0.088 357.747);
  --color-rose-400: oklch(0.611 0.115 359.55);
  --color-rose-500: oklch(0.571 0.129 0.999);
  --color-rose-600: oklch(0.53 0.118 0.643);
  --color-rose-700: oklch(0.449 0.099 0.78);
  --color-rose-800: oklch(0.364 0.077 0.527);
  --color-rose-900: oklch(0.282 0.055 0.591);
  --color-rose-950: oklch(0.211 0.037 359.359);

  --color-gray-50: oklch(0.935 0.015 257.198);
  --color-gray-100: oklch(0.889 0.019 258.355);
  --color-gray-200: oklch(0.843 0.016 257.204);
  --color-gray-300: oklch(0.797 0.016 260.727);
  --color-gray-400: oklch(0.717 0.01 258.344);
  --color-gray-500: oklch(0.605 0.007 255.499);
  --color-gray-600: oklch(0.498 0.013 256.739);
  --color-gray-700: oklch(0.373 0.016 255.613);
  --color-gray-800: oklch(0.311 0.018 258.371);
  --color-gray-900: oklch(0.242 0.021 260.559);
  --color-gray-950: oklch(0.203 0.025 259.263);

  --color-zinc-50: oklch(0.921 0.023 285.941);
  --color-zinc-100: oklch(0.873 0.027 285.819);
  --color-zinc-200: oklch(0.829 0.024 285.874);
  --color-zinc-300: oklch(0.784 0.022 285.87);
  --color-zinc-400: oklch(0.709 0.014 286.027);
  --color-zinc-500: oklch(0.599 0.011 286.078);
  --color-zinc-600: oklch(0.486 0.019 285.67);
  --color-zinc-700: oklch(0.358 0.024 285.12);
  --color-zinc-800: oklch(0.296 0.027 284.623);
  --color-zinc-900: oklch(0.226 0.031 283.651);
  --color-zinc-950: oklch(0.184 0.036 282.214);

  --color-neutral-50: oklch(0.946 0.013 17.387);
  --color-neutral-100: oklch(0.906 0.015 17.442);
  --color-neutral-200: oklch(0.861 0.013 17.416);
  --color-neutral-300: oklch(0.814 0.012 17.412);
  --color-neutral-400: oklch(0.712 0.008 17.348);
  --color-neutral-500: oklch(0.598 0.007 17.36);
  --color-neutral-600: oklch(0.489 0.014 17.649);
  --color-neutral-700: oklch(0.369 0.017 17.941);
  --color-neutral-800: oklch(0.304 0.019 18.27);
  --color-neutral-900: oklch(0.236 0.022 18.885);
  --color-neutral-950: oklch(0.193 0.029 20.064);

  --color-stone-50: oklch(0.943 0.014 57.584);
  --color-stone-100: oklch(0.899 0.017 56.171);
  --color-stone-200: oklch(0.851 0.015 57.555);
  --color-stone-300: oklch(0.807 0.014 60.524);
  --color-stone-400: oklch(0.723 0.009 56.261);
  --color-stone-500: oklch(0.609 0.007 59.586);
  --color-stone-600: oklch(0.505 0.012 58.035);
  --color-stone-700: oklch(0.381 0.015 59.191);
  --color-stone-800: oklch(0.321 0.017 55.715);
  --color-stone-900: oklch(0.256 0.019 59.68);
  --color-stone-950: oklch(0.219 0.022 59.963);

  --color-mauve-50: oklch(0.911 0.03 317.241);
  --color-mauve-100: oklch(0.868 0.045 316.732);
  --color-mauve-200: oklch(0.781 0.077 316.801);
  --color-mauve-300: oklch(0.693 0.111 316.873);
  --color-mauve-400: oklch(0.606 0.142 316.494);
  --color-mauve-500: oklch(0.564 0.158 316.116);
  --color-mauve-600: oklch(0.524 0.145 316.293);
  --color-mauve-700: oklch(0.445 0.121 316.611);
  --color-mauve-800: oklch(0.36 0.095 316.044);
  --color-mauve-900: oklch(0.28 0.068 316.58);
  --color-mauve-950: oklch(0.209 0.045 315.777);

  --color-mist-50: oklch(0.918 0.017 250.849);
  --color-mist-100: oklch(0.879 0.026 249.974);
  --color-mist-200: oklch(0.799 0.044 250.558);
  --color-mist-300: oklch(0.716 0.063 250.213);
  --color-mist-400: oklch(0.634 0.081 250.329);
  --color-mist-500: oklch(0.591 0.092 251.514);
  --color-mist-600: oklch(0.551 0.084 250.629);
  --color-mist-700: oklch(0.466 0.071 251.542);
  --color-mist-800: oklch(0.378 0.054 250.355);
  --color-mist-900: oklch(0.292 0.039 252.07);
  --color-mist-950: oklch(0.218 0.026 251.403);

  --color-taupe-50: oklch(0.929 0.019 86.149);
  --color-taupe-100: oklch(0.881 0.033 87.296);
  --color-taupe-200: oklch(0.797 0.052 85.669);
  --color-taupe-300: oklch(0.714 0.072 85.909);
  --color-taupe-400: oklch(0.633 0.086 84.913);
  --color-taupe-500: oklch(0.575 0.092 84.529);
  --color-taupe-600: oklch(0.521 0.084 84.312);
  --color-taupe-700: oklch(0.444 0.071 84.304);
  --color-taupe-800: oklch(0.358 0.055 84.117);
  --color-taupe-900: oklch(0.27 0.04 86.082);
  --color-taupe-950: oklch(0.186 0.023 82.392);

  --color-maroon-50: oklch(0.893 0.023 17.597);
  --color-maroon-100: oklch(0.823 0.041 18.026);
  --color-maroon-200: oklch(0.708 0.072 19.016);
  --color-maroon-300: oklch(0.59 0.109 20.881);
  --color-maroon-400: oklch(0.482 0.142 24.158);
  --color-maroon-500: oklch(0.439 0.155 26.428);
  --color-maroon-600: oklch(0.407 0.142 26.288);
  --color-maroon-700: oklch(0.348 0.12 26.042);
  --color-maroon-800: oklch(0.284 0.092 25.288);
  --color-maroon-900: oklch(0.223 0.066 24.21);
  --color-maroon-950: oklch(0.155 0.039 22.841);
}
