@theme {
  --color-white: #f1f9fb;
  --color-black: #030405;

  --color-slate-50: #e3f3f4;
  --color-slate-100: #d3e4e7;
  --color-slate-200: #c5d6d6;
  --color-slate-300: #b7c7c5;
  --color-slate-400: #a0aaa8;
  --color-slate-500: #7f8681;
  --color-slate-600: #5e6a66;
  --color-slate-700: #3b4948;
  --color-slate-800: #2b393a;
  --color-slate-900: #1a282a;
  --color-slate-950: #102122;

  --color-teal-50: #cee7e8;
  --color-teal-100: #b2d7dc;
  --color-teal-200: #80bdc5;
  --color-teal-300: #4da2ae;
  --color-teal-400: #1a8896;
  --color-teal-500: #017b8b;
  --color-teal-600: #02707e;
  --color-teal-700: #025864;
  --color-teal-800: #004149;
  --color-teal-900: #012b31;
  --color-teal-950: #001719;

  --color-violet-50: #e0dcef;
  --color-violet-100: #cecbe8;
  --color-violet-200: #afa9d9;
  --color-violet-300: #8e86ca;
  --color-violet-400: #6e64ba;
  --color-violet-500: #5e53b3;
  --color-violet-600: #554ba1;
  --color-violet-700: #433b80;
  --color-violet-800: #312b5e;
  --color-violet-900: #211d3f;
  --color-violet-950: #151126;

  --color-red-50: #f0d0d0;
  --color-red-100: #ebc1c1;
  --color-red-200: #e2a3a3;
  --color-red-300: #d67e7e;
  --color-red-400: #ca5959;
  --color-red-500: #c44747;
  --color-red-600: #b14040;
  --color-red-700: #8c3333;
  --color-red-800: #672525;
  --color-red-900: #451919;
  --color-red-950: #260e0e;

  --color-green-50: #d7e9e0;
  --color-green-100: #b7d9c7;
  --color-green-200: #89c1a2;
  --color-green-300: #59a77c;
  --color-green-400: #43c87e;
  --color-green-500: #2da262;
  --color-green-600: #10753e;
  --color-green-700: #0d5c31;
  --color-green-800: #094524;
  --color-green-900: #072e19;
  --color-green-950: #04170c;

  --color-brown-50: #ebe4d6;
  --color-brown-100: #dfd2bb;
  --color-brown-200: #cab48f;
  --color-brown-300: #b59661;
  --color-brown-400: #9f7834;
  --color-brown-500: #95691e;
  --color-brown-600: #865f1b;
  --color-brown-700: #6b4b15;
  --color-brown-800: #4e3710;
  --color-brown-900: #34250b;
  --color-brown-950: #1a1305;

  --color-blue-50: #cee0ed;
  --color-blue-100: #bdd6e6;
  --color-blue-200: #91bbd6;
  --color-blue-300: #65a0c5;
  --color-blue-400: #3984b5;
  --color-blue-500: #2377ad;
  --color-blue-600: #206b9c;
  --color-blue-700: #19557b;
  --color-blue-800: #133f5b;
  --color-blue-900: #0d2a3d;
  --color-blue-950: #07151f;
}
