@theme {
  --color-white: #f2f4fb;
  --color-black: #121829;

  --color-gray-50: #e9ecf4;
  --color-gray-100: #dfe1e9;
  --color-gray-200: #d4d7e0;
  --color-gray-300: #c5c8d1;
  --color-gray-400: #a9acb8;
  --color-gray-500: #848894;
  --color-gray-600: #5c616f;
  --color-gray-700: #454b5c;
  --color-gray-800: #313645;
  --color-gray-900: #232938;
  --color-gray-950: #1a1f2e;

  --color-blue-50: #dbe2f5;
  --color-blue-100: #c9d5f2;
  --color-blue-200: #b1c3ef;
  --color-blue-300: #97afed;
  --color-blue-400: #7c98e0;
  --color-blue-500: #6683d0;
  --color-blue-600: #5571b5;
  --color-blue-700: #485f97;
  --color-blue-800: #394b79;
  --color-blue-900: #29375c;
  --color-blue-950: #222f4e;

  --color-violet-50: #dfdbf5;
  --color-violet-100: #d0c9f2;
  --color-violet-200: #bdb1ef;
  --color-violet-300: #a697ed;
  --color-violet-400: #8e7be0;
  --color-violet-500: #7965cf;
  --color-violet-600: #6655b5;
  --color-violet-700: #574898;
  --color-violet-800: #453979;
  --color-violet-900: #32295c;
  --color-violet-950: #2a224e;

  --color-mint-50: #d2ede4;
  --color-mint-100: #bee7db;
  --color-mint-200: #a7e4d1;
  --color-mint-300: #8de0c6;
  --color-mint-400: #74d3b4;
  --color-mint-500: #5fc4a4;
  --color-mint-600: #50ad90;
  --color-mint-700: #46937b;
  --color-mint-800: #397965;
  --color-mint-900: #275949;
  --color-mint-950: #224e40;

  --color-yellow-50: #ede4d1;
  --color-yellow-100: #e7dbbe;
  --color-yellow-200: #e4d1a7;
  --color-yellow-300: #e0c68d;
  --color-yellow-400: #d3b574;
  --color-yellow-500: #c5a560;
  --color-yellow-600: #b09253;
  --color-yellow-700: #967d47;
  --color-yellow-800: #796539;
  --color-yellow-900: #5c4c29;
  --color-yellow-950: #4e4022;

  --color-pink-50: #f4dae8;
  --color-pink-100: #f1c9e0;
  --color-pink-200: #f0b2d5;
  --color-pink-300: #ee97c8;
  --color-pink-400: #e17db6;
  --color-pink-500: #d166a3;
  --color-pink-600: #b7568d;
  --color-pink-700: #9a4977;
  --color-pink-800: #79395e;
  --color-pink-900: #5c2946;
  --color-pink-950: #4e223b;

  --color-sky-50: #d6e6f0;
  --color-sky-100: #c4deed;
  --color-sky-200: #add5eb;
  --color-sky-300: #94cae9;
  --color-sky-400: #7ab9dc;
  --color-sky-500: #64a7cc;
  --color-sky-600: #5491b3;
  --color-sky-700: #487c98;
  --color-sky-800: #396479;
  --color-sky-900: #294b5c;
  --color-sky-950: #223f4e;
}
