@theme {
  --color-white: #f1e7cf;
  --color-black: #0a0908;

  --color-taupe-50: #f3eddf;
  --color-taupe-100: #e0d9c8;
  --color-taupe-200: #d2cec1;
  --color-taupe-300: #c6c1b4;
  --color-taupe-400: #afaba0;
  --color-taupe-500: #84817a;
  --color-taupe-600: #6d6b65;
  --color-taupe-700: #4e4d47;
  --color-taupe-800: #3d3c39;
  --color-taupe-900: #2d2c27;
  --color-taupe-950: #211f1d;

  --color-steel-50: #dae0e7;
  --color-steel-100: #c9d2db;
  --color-steel-200: #a6b4c6;
  --color-steel-300: #8196ae;
  --color-steel-400: #5f7997;
  --color-steel-500: #4d6a8c;
  --color-steel-600: #47607f;
  --color-steel-700: #384d66;
  --color-steel-800: #2d3b4e;
  --color-steel-900: #212c38;
  --color-steel-950: #1a2129;

  --color-pink-50: #f0d1df;
  --color-pink-100: #eabed4;
  --color-pink-200: #de94b9;
  --color-pink-300: #d1699c;
  --color-pink-400: #c43e80;
  --color-pink-500: #bf2a72;
  --color-pink-600: #ad2768;
  --color-pink-700: #892154;
  --color-pink-800: #691a40;
  --color-pink-900: #4b1530;
  --color-pink-950: #371224;

  --color-red-50: #efd1d3;
  --color-red-100: #eac1c5;
  --color-red-200: #de989f;
  --color-red-300: #d16f79;
  --color-red-400: #c44653;
  --color-red-500: #be3240;
  --color-red-600: #ac2e3b;
  --color-red-700: #88252f;
  --color-red-800: #681d25;
  --color-red-900: #4a181d;
  --color-red-950: #341215;

  --color-green-50: #dae2e0;
  --color-green-100: #c6d4d0;
  --color-green-200: #a0b7b2;
  --color-green-300: #7b9a92;
  --color-green-400: #557e74;
  --color-green-500: #427065;
  --color-green-600: #3d665c;
  --color-green-700: #31524a;
  --color-green-800: #263e38;
  --color-green-900: #1d2d29;
  --color-green-950: #182320;

  --color-orange-50: #edd7cf;
  --color-orange-100: #e6c6ba;
  --color-orange-200: #d7a18c;
  --color-orange-300: #c87c5f;
  --color-orange-400: #b95631;
  --color-orange-500: #b1441b;
  --color-orange-600: #a13e1a;
  --color-orange-700: #803215;
  --color-orange-800: #612811;
  --color-orange-900: #451e0f;
  --color-orange-950: #34180e;

  --color-blue-50: #d5e2ec;
  --color-blue-100: #bed2e1;
  --color-blue-200: #94b5cf;
  --color-blue-300: #6a97bc;
  --color-blue-400: #3f7ba8;
  --color-blue-500: #2b6c9f;
  --color-blue-600: #286390;
  --color-blue-700: #204e74;
  --color-blue-800: #193b57;
  --color-blue-900: #132b3e;
  --color-blue-950: #11222f;
}
